@font-face {
    font-family: 'Volte';
    src: url('../fonts/volte.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Semibold';
    src: url('../fonts/volte_semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Bold';
    src: url('../fonts/volte_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background: #fff;
    min-height: 62px;
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 99;
}

header a {
    font-family: 'Volte Semibold', sans-serif;
    color: #005670;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .07em;
    margin: 0px 12px;
}

header a:hover {
    color: #CD163F;
}

header a:hover path {
    fill: #CD163F;
}

header a.bttn {
    color: #fff;
    background: #005670;
    padding: 3px 12px;
    margin: 0 0 0 8px;
    height: auto;
    border-radius: 4px;
}

header svg {
    vertical-align: middle;
    margin-top: -3px;
}

header a.bttn:hover {
    background: #CD163F;
}

header a.bttn:hover path {
    fill: #fff;
}

a {
    text-decoration: underline;
}

a:hover, svg a {
    text-decoration: none;
}

svg a text {
    transition: all .3s;
}

svg a:hover text {
    fill: #000;
}

@namespace svg url(http://www.w3.org/2000/svg);

svg|a:link,
svg|a:visited {
  cursor: pointer;
}

svg|a text,
text svg|a {
  fill: #fff;
  text-decoration: none;
}

svg|a:hover text,
svg|a:active text {
  fill: #000;
}

#header_button {
    float: right;
}

#header_links {
    padding-top: 4px;
}

#mobile_menu {
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
    top: 26px;
    right: 24px;
    width: 21px;
    height: 12px;
    background: linear-gradient(to bottom, #005670 0px, #005670 2px, transparent 2px, transparent 5px, #005670 5px, #005670 7px, transparent 7px, transparent 10px, #005670 10px, #005670 12px);
}

#mobile_menu:hover {
    background: linear-gradient(to bottom, #CD163F 0px, #CD163F 2px, transparent 2px, transparent 5px, #CD163F 5px, #CD163F 7px, transparent 7px, transparent 10px, #CD163F 10px, #CD163F 12px);
}

header a.lang:not(.current) {
    font-family: 'Volte', sans-serif;
}

#main {
    background: #fff;
    position: relative;
    padding: 66px 0 48px 0;
}

footer {
    color: #fff;
    font-size: 12px;
    background: #CD163F;
    padding: 50px 20px 30px 20px;
    margin: 0 auto;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
}

#social {
    padding-bottom: 16px;
}

#social a {
    margin: 0 10px;
}

#footer_nav a {
    margin: 0 12px;
    font-size: 14px;
}

#footer_nav a:hover {
    text-decoration: underline;
}

#footer_note {
    max-width: 1150px;
    margin: 0 auto;
}

#game {
    font-family: 'Volte', sans-serif;
    position: relative;
    width: 376px;
    height: 712px;
    margin: 0 auto;
}

#colored_background {
    position: absolute;
    left: 0;
    top: 0;
}

#hand {
    opacity: 1;
    pointer-events: none;
    transition: all .3s linear;
}

#hand.invis {
    opacity: 0;
}

.arrow_text {
    font-family: 'Volte Semibold', sans-serif;
    text-anchor: middle;
    fill: #fff;
}

#sign_1.rotate {
    animation: sign_1 .6s ease-in forwards;
}

@keyframes sign_1 {
    0% {
        transform: translate(376px, 380px) scale(1, 1) translate(-376px, -380px);
    }
    100% {
        transform: translate(376px, 380px) scale(.1, 1) translate(-376px, -380px);
    }
}

#sign_2.rotate {
    animation: sign_2 .6s ease-in forwards;
}

@keyframes sign_2 {
    0% {
        transform: translate(376px, 590px) scale(1, 1) translate(-376px, -590px);
    }
    100% {
        transform: translate(376px, 590px) scale(.1, 1) translate(-376px, -590px);
    }
}

#sign_3.rotate {
    animation: sign_3 .6s ease-in forwards;
}

@keyframes sign_3 {
    0% {
        transform: translate(376px, 800px) scale(1, 1) translate(-376px, -800px);
    }
    100% {
        transform: translate(376px, 800px) scale(.1, 1) translate(-376px, -800px);
    }
}

#pointer {
    opacity: 1;
    transition: all .5s .1s linear;
}

#pointer.invis {
    pointer-events: none;
    opacity: 0;
}

#top_text {
    opacity: 1;
    transition: opacity .3s linear;
}

#top_text.invis {
    opacity: 0;
}

#head {
    opacity: 1;
    transform: translateY(0px);
}

#head.jump {
    animation: jump .5s ease-in-out forwards;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-10px);
    }
}


#car, #dog {
    opacity: 1;
    transition: opacity .4s linear;
}

#car.invis, #dog.invis {
    opacity: 0;
}

#car.moved {
    animation: car_move 2.6s ease-out forwards;
}

@keyframes car_move {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-1000px, 0px);
    }
}

#confetti {
    pointer-events: none;
}

#color_bg {
    opacity: 0;
    transition: all .3s linear;
}

#color_bg.visible, #cup_top_title.visible {
    opacity: 1;
}

#road {
    opacity: 1;
    transition: all .3s linear;
}

#road.invis {
    opacity: 0;
    pointer-events: none;
}

#cup_top_title {
    opacity: 0;
    transition: all .3s .2s linear;
}

#prize_cup {
    pointer-events: none;
    opacity: 0;
}

#prize_cup.visible {
    animation: prize_cup .6s ease-in-out forwards;
}

@keyframes prize_cup {
    0% {
        opacity: 0;
        transform: translate(380px, 458px) scale(.5) translate(-380px, -458px);
    }
    10%, 100% {
        opacity: 1;
    }
    80% {
        transform: translate(380px, 458px) scale(1.1) translate(-380px, -458px);
    }
    100% {
        transform: translate(380px, 458px) scale(1) translate(-380px, -458px);
    }
}

#cup_prize_text {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 160px;
    text-align: center;
    transform: scale(.2);
    opacity: 0;
    pointer-events: none;
}

#cup_prize_text.visible {
    animation: cup_prize_text .8s ease-in-out forwards;
}

@keyframes cup_prize_text {
    0% {
        opacity: 0;
        transform: scale(.2);
    }
    10%, 100% {
        opacity: 1;
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#cup_prize_text h2, #cup_prize_text h3, #cup_prize_text h4 {
    line-height: 1;
    color: #fff;
    margin: 0;
    padding: 0;
}

#cup_prize_text h3 span, #cup_prize_text h4 span {
    font-size: 16px;
}

#cup_prize_text h4 div {
    font-size: 18px;
}

#cup_prize_text h2 {
    font-family: 'Volte Semibold', sans-serif;
    font-size: 130px;
    line-height: 90px;
    letter-spacing: -0.08em;
}

#cup_prize_text h2 img {
    display: inline-block;
    width: 28px;
    margin-left: 8px;
}

#cup_prize_text h3 {
    display: block;
    font-size: 21px;
    padding: 2px 0;
}

#cup_prize_text h4 {
    display: block;
    font-size: 21px;
    padding: 2px 0;
}

#cup_prize_text h4 img {
    display: block;
    width: 60px;
    margin: 0 auto;
}

#ballot_wrapper {
    opacity: 1;
    position: absolute;
    top: 360px;
    left: calc(50% - 170px);
    width: 340px;
    color: #BA0C2F;
    text-align: center;
    transition: all .3s linear;
}

#ballot_wrapper.invis {
    pointer-events: none;
    opacity: 0;
}

#note {
    color: #BA0C2F;
    font-size: 11px;
    line-height: 1;
    margin: 0;
    padding-top: 8px;
}

.white #cup_top_title text {
    fill: #fff;
}

.white #ballots, .white #ballot_enter, .white #note, .white #congrats h2, .white #congrats h3, .white #more_ballots a {
    color: #fff;
}

.white #more_ballots a svg {
    fill: #fff;
}

#ballots {
    font-size: 20px;
    font-weight: normal;
    margin: 12px 0 6px 0;
}

#ballots strong {
    font-family: 'Volte Semibold', sans-serif;
}

#ballot_enter {
    font-size: 20px;
    margin: 0 0 16px 0;
    font-weight: normal;
}

#ballot_frame, #congrats_frame {
    background: #fff;
    padding: 16px;
    border-radius: 24px;
}

#counters_wrapper, #congrats_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#counters_wrapper img {
    user-select: none;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter_center {
    user-select: none;
    font-family: 'Volte Bold';
    font-size: 56px;
    text-align: center;
    min-width: 44px;
    color: #ce153e;
}

.counter_center.small {
    font-size: 40px;
    padding-top: 8px;
}

.counter_left, .counter_right {
    padding: 22px 4px 0 4px;
}

.counter_left a:hover rect, .counter_right a:hover rect {
    fill: #005670;
}

.counter_left a:hover path, .counter_right a:hover path {
    fill: #fff;
}

#enter_ballots, #next_ticket {
    display: block;
    margin: 0 auto;
    width: 136px;
    height: 36px;
    border-radius: 18px;
    background: #ce153e;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    box-shadow: 0px 3px 6px #B4CFDB;
    transition: all .3s ease;
}

#enter_ballots:hover, #next_ticket:hover {
    background: #000;
}

#congrats {
    opacity: 1;
    position: absolute;
    top: 30px;
    left: calc(50% - 170px);
    width: 340px;
    color: #fff;
    text-align: center;
    transition: all .3s linear;
}

#congrats.invis, #next_ticket.invis, #more_ballots.invis {
    pointer-events: none;
    opacity: 0;
}

#congrats h2 {
    color: #BA0C2F;
    font-size: 21px;
    margin: 12px 0 6px 0;
}

#congrats h3 {
    color: #BA0C2F;
    font-size: 18px;
    margin: 0 0 16px 0;
    font-weight: normal;
}

#congrats_frame h4 {
    font-family: 'Volte Bold';
    font-size: 24px;
    text-align: center;
    color: #ce153e;
    margin: 0 0 16px 0;
}

#clmn1_ballots, #clmn2_ballots, #clmn3_ballots {
    font-family: 'Volte Bold';
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    color: #ce153e;
}

#congrats_wrapper img {
    width: 90px;
    height: 90px;
}

#congrats_frame {
    margin-bottom: 24px;
}

#next_ticket {
    width: 160px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}

#more_ballots a {
    display: inline-block;
    color: #BA0C2F;
    font-family: 'Volte Semibold';
    text-transform: uppercase;
    margin: 0 0 6px 0;
}

#more_ballots a svg {
    vertical-align: middle;
    margin-right: 4px;
    fill: #BA0C2F;
}

#more_ballots_bttns {
    padding-top: 120px;
}

#more_ballots_bttns a {
    margin-bottom: 16px;
}

#game_container {
    position: relative;
    opacity: 1;
    transition: all .3s linear;
}

#game_container.invis {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 998px) {
    #mobile_menu {
        display: block;
        top: 15px;
        right: 16px;
    }

    #header_button, #header_links {
        display: none;
    }

    header {
        min-height: 44px;
    }
    #main {
        padding: 44px 0 0 0;
    }
}