@font-face {
  font-family: 'Aachen Bold';
  src: url('../fonts/aachen.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    user-select: none;
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body.hide_cursor {
  cursor: none;
}

h2, h3 {
  margin: 0;
}

header {
  position: relative;
  height: 62px;
  padding: 16px;
  background: linear-gradient(to left, #73C9BB, #2383C6);
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .15em;
    margin-right: 18px;
}

a#mobile_menu {
    display: inline-block;
    margin: 4px 0 0 0;
}

header a:hover {
    opacity: .9;
}

header a svg {
    vertical-align: middle;
    margin-top: -4px;
}

a.header_bttn {
    display: block;
    float: right;
    background-color: #fff;
    color: #2383C6;
    padding: 8px 12px;
    margin: -4px 0px 0px 21px;
    border-radius: 2px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

a.header_bttn:hover {
    background-color: #2383C6;
    color: #fff;
}

a.header_bttn:hover path, a.header_bttn:hover circle {
    fill: #fff;
}

a.header_bttn_blue {
    display: block;
    float: right;
    background-color: #2383C6;
    color: #fff;
    padding: 8px 12px;
    margin: -4px 0px 0px 21px;
    border-radius: 2px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

a.header_bttn_blue:hover {
    background-color: #fff;
    color: #2383C6;
}

a.header_bttn_blue:hover path {
  fill: #2383C6;
}

#desktop_nav {
    display: none;
}

footer {
  padding: 16px;
  text-align: center;
}

#custom_cursor {
  position: absolute;
  left: calc(50% + 70px);
  top: 420px;
  z-index: 999;
  pointer-events: none;
  opacity: 1;
  transition: opacity .2s linear;
}

#custom_cursor.active {
  transform: translate(-30px, -13px);
}

#custom_cursor.invis {
  opacity: 0;
}

#custom_cursor.initial {
  transform-origin: right bottom;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-5deg);
  }
  20%, 40% {
    transform: rotate(5deg);
  }
}

#ice {
  display: none;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transition: opacity .05s linear;
}

.hide_cursor #ice.active {
  display: block;
  transform: translate(-48px, -24px);
}

input {
  border: solid 1px #707070;
  padding: 16px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

button, .bttn {
  display: block;
  width: 100%;
  padding: 12px 8px 10px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  background-color: #2383C6;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all .2s linear;
  text-decoration: none;
}

button svg, .bttn svg {
  vertical-align: middle;
  height: 28px;
  margin-right: 6px;
}

button:hover, .bttn:hover {
  color: #fff;
  background-color: #2B3B66;
}

button:hover path, .bttn:hover path {
  fill: #fff;
}

a {
  color: #000;
}

::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
  color: #707070;
  font-size: 16px;
  transition: all .2s linear;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
  color: #707070;
  font-size: 16px;
  transition: all .2s linear;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::placeholder {
  opacity: 0;
}

#footer_logo {
  width: 160px;
  margin-bottom: 8px;
}

#social {
  padding-bottom: 8px;
}

#social a {
  margin: 0px 10px;
}

#footer_nav {
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
}

#footer_nav a {
  color: #124B86;
  margin: 0 4px;
}

#policy {
  max-width: 990px;
  margin: 0 auto;
  font-size: 12px;
  padding: 8px 0 16px 0;
  text-align: center;
  color: #124B86;
}

#policy a {
  font-weight: 700;
  color: #124B86;
}

#content {
  max-width: 302px;
  min-height: 600px;
  padding: 24px 0 0 0;
  margin: 0 auto;
}

#main {
  position: relative;
  width: 302px;
  min-height: 460px;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transition: all .3s ease-in-out;
}

#main_container, #tickt2x {
  position: absolute;
  left: 0;
  top: 87px;
}

#tickt2x {
  opacity: 1;
  width: 302px;
  height: 302px;
  pointer-events: none;
  transition: opacity .2s linear;
}

#tickt2x.invis {
  opacity: 0;
}

#main_container img {
  display: none;
}

#main canvas {
  opacity: 1;
  display: block;
  cursor: pointer;
}

.hide_cursor #main canvas {
  cursor: none;
}

#click_text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 1;
  text-align: center;
  padding-top: 8px;
  color: #124B86;
  font-weight: 700;
  transition: all .4s linear;
}

#click_text.invis {
  opacity: 0;
}

#prize {
  position: relative;
  background: url(../imgs/ticket_pattern.png) no-repeat center;
  background-size: cover;
  padding-top: 24px;
  min-height: 302px;
  opacity: 0;
  border: solid 1px #0072BB;
  transition: border-color .6s .4s linear;
}

#prize_id {
  height: 250px;
}

#prize h3, #info_block h3, #wide_content h3 {
  color: #2B3B66;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 16px 16px 16px;
}

#prize h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 16px 4px 16px;
}

#prize_name {
  opacity: 1;
  color: #2B3B66;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  line-height: 1.1;
  font-weight: 700;
  padding-top: 32px;
  margin-bottom: 8px;
  transition: all .5s linear;
}

#prize_underline {
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  margin: 0 16px 4px 16px;
  transition: opacity .5s linear;
}

#prize_underline.icn {
  text-align: left;
  padding: 4px 0px 0 44px;
  margin: 32px 0px 0px 0px;
  min-height: 34px;
  background: url(../imgs/ballot_icn.svg) no-repeat left center;
  font-size: 16px;
  line-height: 1.2;
}

#more_block p {
  margin-top: 0;
}

#prize_name.invis, #prize_underline.invis {
  opacity: 0;
}

#note {
  font-size: 12px;
  padding: 8px 0;
  margin-bottom: 32px;
  opacity: 1;
  transition: opacity .2s linear;
}

#note.invis {
  opacity: 0;
  position: absolute;
}

#note a {
  color: #000;
}

#note a:hover {
  text-decoration: none;
}

#info_block, #more_block {
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  max-height: 900px;
  opacity: 1;
  transition: all 1s ease;
  pointer-events: initial;
}

#info_block.invis, #more_block.invis {
  opacity: 0;
  max-height: 0px;
  pointer-events: none;
  padding-top: 0;
  overflow: hidden;
}

#info_block .bttn {
  max-width: 302px;
  margin-left: auto;
  margin-right: auto;
}

#next_ticket.invis {
  display: none;
}

#prize_head {
  display: block;
  margin: 0 auto;
  width: 166px;
  height: 75px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  opacity: 1;
  transition: opacity .6s .2s linear;
}

#prize_head.invis {
  opacity: 0;
}

#wide_content {
  max-width: 926px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 32px;
  max-height: 900px;
  opacity: 1;
  transition: all 1s ease;
  pointer-events: initial;
}

#wide_content.invis {
  opacity: 0;
  max-height: 0px;
  pointer-events: none;
  padding-top: 0;
  overflow: hidden;
}

#wide_content img {
  width: 100%;
  margin-bottom: 16px;
}

#wide_content strong {
  color: #DF001F;
}

#popup {
  opacity: 1;
  color: #124B86;
  text-align: center;
  width: 100%;
  max-width: 376px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: #F6D926;
  padding: 24px 32px;
  border: solid 7px #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
  z-index: 9999;
  transition: all .3s linear;
}

#close_bttn {
  position: absolute;
  right: 8px;
  top: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #124B86;
  text-decoration: none;
}

#popup a {
  color: #124B86;
}

#popup.invis {
  opacity: 0;
  pointer-events: none;
}

#ballot {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
}

#boxshadow-left, #fireworks, #sparkles {
  display: none;
}

#ballot.vis {
  display: block;
}

.play #gift {
  animation: gift_start .6s ease-in-out forwards;
}
@keyframes gift_start {
  0%, 100% {
    transform: translate(252px, 460px) scale(1, 1) translate(-252px, -460px);
  }
  70% {
    transform: translate(252px, 460px) scale(1, .8) translate(-252px, -460px);
  }
}
.play #boxcap {
  animation: boxcap 2.2s .5s ease-in forwards;
}
@keyframes boxcap {
  0% {
    transform: translate(364px, 280px) rotate(0deg) translate(-364px, -268px);
  }
  10% {
    transform: translate(430px, 194px) rotate(30deg) translate(-364px, -268px);
  }
  35%, 100% {
    transform: translate(440px, 430px) rotate(60deg) translate(-364px, -268px);
  }
}
.play #capshadow {
  animation: capshadow .2s .4s linear forwards;
}
@keyframes capshadow {
  0% {
    opacity: .15;
  }
  100% {
    opacity: 0;
  }
}
.play #boxshadow-right {
  animation: boxshadow-right .2s .8s linear forwards;
}
@keyframes boxshadow-right {
  0% {
    opacity: .15;
  }
  100% {
    opacity: 0;
  }
}
.play #boxshadow-left {
  display: block;
  opacity: 0;
  animation: boxshadow-left .6s 1s linear forwards;
}
@keyframes boxshadow-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .15;
  }
}
.play #sparkles {
  display: block;
  opacity: 0;
  animation: sparkles .5s .4s ease-in-out forwards;
}
@keyframes sparkles {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  0% {
    transform: translate(250px, 328px) scale(.5) translate(-250px, -328px);
  }
  100% {
    transform: translate(250px, 328px) scale(1.2) translate(-250px, -328px);
  }
}
.play #fireworks {
  display: block;
}
.play #bp1 {
  opacity: 0;
  animation: sp .6s .6s ease-in-out forwards;
}
.play #bp2 {
  opacity: 0;
  animation: sp .7s .46s ease-in-out forwards;
}
.play #bp3 {
  opacity: 0;
  animation: sp .8s .58s ease-in-out forwards;
}
.play #bp4 {
  opacity: 0;
  animation: sp .5s .55s ease-in-out forwards;
}
.play #bp5 {
  opacity: 0;
  animation: sp .66s .5s ease-in-out forwards;
}
.play #bp6 {
  opacity: 0;
  animation: sp .54s .53s ease-in-out forwards;
}
.play #sp1 {
  opacity: 0;
  animation: sp .62s .53s ease-in-out forwards;
}
.play #sp2 {
  opacity: 0;
  animation: sp .97s .51s ease-in-out forwards;
}
.play #sp3 {
  opacity: 0;
  animation: sp .84s .75s ease-in-out forwards;
}
.play #sp4 {
  opacity: 0;
  animation: sp .66s .71s ease-in-out forwards;
}
.play #sp5 {
  opacity: 0;
  animation: sp .62s .71s ease-in-out forwards;
}
.play #sp6 {
  opacity: 0;
  animation: sp .73s .53s ease-in-out forwards;
}
.play #sp7 {
  opacity: 0;
  animation: sp .68s .75s ease-in-out forwards;
}
.play #sp8 {
  opacity: 0;
  animation: sp .92s .76s ease-in-out forwards;
}
.play #sp9 {
  opacity: 0;
  animation: sp .57s .72s ease-in-out forwards;
}
.play #sp10 {
  opacity: 0;
  animation: sp .91s .78s ease-in-out forwards;
}
.play #sp11 {
  opacity: 0;
  animation: sp .71s .64s ease-in-out forwards;
}
.play #sp12 {
  opacity: 0;
  animation: sp .68s .60s ease-in-out forwards;
}
.play #sp13 {
  opacity: 0;
  animation: sp .65s .63s ease-in-out forwards;
}
.play #sp14 {
  opacity: 0;
  animation: sp .90s .78s ease-in-out forwards;
}
.play #sp15 {
  opacity: 0;
  animation: sp .81s .60s ease-in-out forwards;
}
.play #sp16 {
  opacity: 0;
  animation: sp .63s .73s ease-in-out forwards;
}
.play #sp17 {
  opacity: 0;
  animation: sp .70s .53s ease-in-out forwards;
}
.play #sp18 {
  opacity: 0;
  animation: sp .86s .59s ease-in-out forwards;
}
.play #sp19 {
  opacity: 0;
  animation: sp .83s .63s ease-in-out forwards;
}
.play #sp20 {
  opacity: 0;
  animation: sp .89s .75s ease-in-out forwards;
}
.play #sp21 {
  opacity: 0;
  animation: sp .79s .53s ease-in-out forwards;
}
.play #sp22 {
  opacity: 0;
  animation: sp .82s .68s ease-in-out forwards;
}
.play #sp23 {
  opacity: 0;
  animation: sp .99s .56s ease-in-out forwards;
}
.play #sp24 {
  opacity: 0;
  animation: sp .92s .79s ease-in-out forwards;
}
.play #sp25 {
  opacity: 0;
  animation: sp .70s .63s ease-in-out forwards;
}
.play #sp26 {
  opacity: 0;
  animation: sp 1s .70s ease-in-out forwards;
}
.play #sp27 {
  opacity: 0;
  animation: sp .68s .74s ease-in-out forwards;
}
.play #sp28 {
  opacity: 0;
  animation: sp .74s .79s ease-in-out forwards;
}
.play #sp29 {
  opacity: 0;
  animation: sp .67s .51s ease-in-out forwards;
}
.play #sp30 {
  opacity: 0;
  animation: sp .57s .55s ease-in-out forwards;
}
@keyframes bp {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  0% {
    transform: translate(250px, 386px) scale(.5) translate(-250px, -386px);
  }
  100% {
    transform: translate(250px, 386px) scale(1.2) translate(-250px, -386px);
  }
}
@keyframes sp {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  0% {
    transform: translate(250px, 386px) scale(.5) translate(-250px, -386px);
  }
  100% {
    transform: translate(250px, 386px) scale(1) translate(-250px, -386px);
  }
}
.play #cp1 {
  opacity: 0;
  animation: cp .66s .75s ease-in-out forwards;
}
.play #cp2 {
  opacity: 0;
  animation: cp .52s .53s ease-in-out forwards;
}
.play #cp3 {
  opacity: 0;
  animation: cp .86s .68s ease-in-out forwards;
}
.play #cp4 {
  opacity: 0;
  animation: cp .50s .56s ease-in-out forwards;
}
.play #cp5 {
  opacity: 0;
  animation: cp .88s .79s ease-in-out forwards;
}
.play #cp6 {
  opacity: 0;
  animation: cp .75s .63s ease-in-out forwards;
}
.play #cp7 {
  opacity: 0;
  animation: cp .89s .70s ease-in-out forwards;
}
.play #cp8 {
  opacity: 0;
  animation: cp .94s .74s ease-in-out forwards;
}
.play #cp9 {
  opacity: 0;
  animation: cp .1s .79s ease-in-out forwards;
}
.play #cp10 {
  opacity: 0;
  animation: cp .82s .51s ease-in-out forwards;
}
@keyframes cp {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  0% {
    transform: translate(250px, 260px) scale(.5) translate(-250px, -260px);
  }
  100% {
    transform: translate(250px, 260px) scale(1) translate(-250px, -260px);
  }
}
.play #wp1 {
  opacity: 0;
  animation: wp .94s .6s ease-in-out forwards;
}
.play #wp2 {
  opacity: 0;
  animation: wp .66s .73s ease-in-out forwards;
}
.play #wp3 {
  opacity: 0;
  animation: wp .52s .53s ease-in-out forwards;
}
.play #wp4 {
  opacity: 0;
  animation: wp .86s .59s ease-in-out forwards;
}
.play #wp5 {
  opacity: 0;
  animation: wp .50s .63s ease-in-out forwards;
}
.play #wp6 {
  opacity: 0;
  animation: wp .88s .75s ease-in-out forwards;
}
@keyframes wp {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  0% {
    transform: translate(250px, 378px) scale(.5) translate(-250px, -378px);
  }
  100% {
    transform: translate(250px, 378px) scale(1) translate(-250px, -378px);
  }
}

#ballot1, #ballot2 {
  opacity: 0;
  font-family: 'Aachen Bold';
  font-size: 250px;
  fill: #182e58;
  stroke: #fff;
  stroke-width: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.play #ballot1 {
  animation: ballot1 .6s .6s ease-out forwards;
}

@keyframes ballot1 {
  0% {
    opacity: 0;
    transform: translate(250px, 430px) scale(.2) translate(-250px, -430px);
  }
  20%, 50% {
    opacity: 1;
  }
  50.5%, 100% {
    opacity: 0;
  }
  50%, 100% {
    transform: translate(250px, 150px) scale(.4) translate(-250px, -430px);
  }
}

.play #ballot2 {
  animation: ballot2 .6s .6s ease-in forwards;
}

@keyframes ballot2 {
  0%, 50% {
    opacity: 0;
    transform: translate(250px, 150px) scale(.4) translate(-250px, -430px);
  }
  50.5%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(250px, 430px) scale(1) translate(-250px, -430px);
  }
}

@media screen and (min-width: 840px) {
  a#mobile_menu {
      display: none;
  }
  #desktop_nav {
      display: block;
  }
  #content {
    max-width: 500px;
  }
}

@media screen and (max-width: 1160px) {
  header a {
      font-size: 12px;
      letter-spacing: initial;
      margin-right: 10px;
  }
  a.header_bttn {
      padding: 8px;
      margin-left: 8px;
      height: 34px;
  }
  header a svg {
      width: 16px;
  }
}

@media screen and (max-width: 720px) {
  #social a {
    margin: 0 4px;
  }
  #social img {
    width: 44px;
    height: 44px;
  }
}