* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  font-size: 21px;
}

/* UI */

.clmns {
  overflow: hidden;
}

.clmn_50 {
  width: 50%;
  float: left;
}

#ui {
  padding: 32px;
}

label {
  display: inline-block;
}

.ui_section {
  display: inline-block;
  padding: 16px 48px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, .1);
}

@media (max-width: 1168px) {
  html, body {
    font-size: 16px;
    line-height: 2;
  }
  h2 {
    font-size: 20px;
    margin: 8px 0px 0px 0px;
  }
  svg {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  br + br {
    display: none;
  }
  .clmn_50 {
    width: 100%;
    float: none;
  }
  #ui {
    padding: 8px 24px;
  }
  .ui_section {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 16px;
  }
}

/* Colors */

.line {
  stroke: #3a5e77;
  fill: none;
}

.legs {
  fill: #f9bc35;
}

.eye {
  fill: #3a5e77;
}

.feather {
  fill: #3a5e77;
}

.blick {
  fill: #fff;
}

.beak {
  fill: #3a5e77;
}

.mouth {
  fill: #9a473e;
}

.tongue {
  fill: #902634;
}

.main {
  fill: #a2fdd9;
}

.dark {
  fill: #53ab8b;
}

.light {
  fill: #eafff9;
}

/* Colors v2 */

.v2 .line {
  stroke: #333;
  fill: none;
}

.v2 .legs {
  fill: #bbb;
}

.v2 .eye {
  fill: #333;
}

.v2 .feather {
  fill: #333;
}

.v2 .blick {
  fill: #fff;
}

.v2 .beak {
  fill: #333;
}

.v2 .mouth {
  fill: #999;
}

.v2 .tongue {
  fill: #888;
}

.v2 .main {
  fill: #aaa;
}

.v2 .dark {
  fill: #666;
}

.v2 .light {
  fill: #ddd;
}

/* Colors v3 */

.v3 .line {
  stroke: #4C375C;
  fill: none;
}

.v3 .legs {
  fill: #f9bc35;
}

.v3 .eye {
  fill: #4C375C;
}

.v3 .feather {
  fill: #4C375C;
}

.v3 .blick {
  fill: #fff;
}

.v3 .beak {
  fill: #4C375C;
}

.v3 .mouth {
  fill: #9a473e;
}

.v3 .tongue {
  fill: #902634;
}

.v3 .main {
  fill: #BBA2FD;
}

.v3 .dark {
  fill: #6D53AB;
}

.v3 .light {
  fill: #F2EAFF;
}


/* Email Animation */

.email #left-wing {
  animation: left-wing_01 .5s ease-in-out forwards;
}

@keyframes left-wing_01 {
  0% {
    transform: translate(213px, 383px) rotate(0deg) translate(-213px, -383px);
  }
  100% {
    transform: translate(213px, 383px) rotate(-3.2deg) translate(-213px, -383px);
  }
}

.email #right-wing {
  animation: right-wing_01 .5s ease-in-out forwards;
}

@keyframes right-wing_01 {
  0% {
    transform: translate(867px, 383px) rotate(0deg) translate(-867px, -383px);
  }
  100% {
    transform: translate(867px, 383px) rotate(-2.4deg) translate(-867px, -383px);
  }
}

.email #left-ear {
  animation: left-ear_01 .5s ease-in-out forwards;
}

@keyframes left-ear_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(11px, 19px);
  }
}

.email #right-ear {
  animation: right-ear_01 .5s ease-in-out forwards;
}

@keyframes right-ear_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(16px, 0px);
  }
}

.email #belly {
  animation: belly_01 .5s ease-in-out forwards;
}

@keyframes belly_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-40px, 36px);
  }
}

.email #eye-circles {
  animation: eye-circles_01 .5s ease-in-out forwards;
}

@keyframes eye-circles_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-36px, 36px);
  }
}

.email #eyes {
  animation: eyes_01 .5s ease-in-out forwards;
}

@keyframes eyes_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-57px, 60px);
  }
}

.email #opened-eyes {
  animation: opened-eyes_01 .5s ease-in-out forwards;
}

@keyframes opened-eyes_01 {
  0%, 33%, 67%, 100% {
    visibility: visible;
  }
  34%, 66% {
    visibility: hidden;
  }
}

#closed-eyes {
  visibility: hidden;
}

.email #closed-eyes {
  animation: closed-eyes_01 .5s ease-in-out forwards;
}

@keyframes closed-eyes_01 {
  0%, 33%, 67%, 100% {
    visibility: hidden;
  }
  34%, 66% {
    visibility: visible;
  }
}

.email #beak {
  animation: beak_01 .5s ease-in-out forwards;
}

@keyframes beak_01 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-36px, 36px);
  }
}


/* Read Animation */

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
  visibility: hidden;
}

.read #left-wing {
  animation: left-wing_02 .35s ease-in-out forwards;
}

@keyframes left-wing_02 {
  0%, 100% {
    transform: translate(213px, 383px) rotate(-3.2deg) translate(-213px, -383px);
  }
  50% {
    transform: translate(213px, 383px) rotate(-5.3deg) translate(-213px, -383px);
  }
}

.read #right-wing {
  animation: right-wing_02 .35s ease-in-out forwards;
}

@keyframes right-wing_02 {
  0%, 100% {
    transform: translate(867px, 383px) rotate(-2.4deg) translate(-867px, -383px);
  }
  50% {
    transform: translate(867px, 383px) rotate(3.8deg) translate(-867px, -383px);
  }
}

.read #left-ear {
  animation: left-ear_02 .35s ease-in-out forwards;
}

@keyframes left-ear_02 {
  0%, 100% {
    transform: translate(11px, 19px);
  }
  50% {
    transform: translate(20px, 25px);
  }
}

.read #right-ear {
  animation: right-ear_02 .35s ease-in-out forwards;
}

@keyframes right-ear_02 {
  0%, 100% {
    transform: translate(16px, 0px);
  }
  50% {
    transform: translate(-6px, 9px);
  }
}

.read #belly {
  transform: translate(-40px, 36px);
}

.read #eye-circles {
  animation: eye-circles_02 .35s ease-in-out forwards;
}

@keyframes eye-circles_02 {
  0%, 100% {
    transform: translate(-36px, 36px);
  }
  50% {
    transform: translate(-36px, 20px);
  }
}

.read #eyes {
  animation: eyes_02 .35s ease-in-out forwards;
}

@keyframes eyes_02 {
  0%, 100% {
    transform: translate(-57px, 60px);
  }
  50% {
    transform: translate(-57px, 44px);
  }
}

.read #opened-eyes {
  animation: opened-eyes_02 .35s ease-in-out forwards;
}

@keyframes opened-eyes_02 {
  0%, 49%, 100% {
    visibility: visible;
  }
  50%, 99% {
    visibility: hidden;
  }
}

#closed-eyes {
  visibility: hidden;
}

.read #closed-eyes {
  animation: closed-eyes_02 .35s ease-in-out forwards;
}

@keyframes closed-eyes_02 {
  0%, 49%, 100% {
    visibility: hidden;
  }
  50%, 99% {
    visibility: visible;
  }
}

.read #beak {
  visibility: hidden;
}

.read #b1, .read #b2, .read #b3, .read #b4, .read #b5, .read #b6, .read #b7, .read #b8, .read #b9 {
visibility: hidden;
animation-duration: 0.35s;
animation-fill-mode: forwards;
animation-timing-function: steps(1);
}

.read #b1 {animation-name: b1}
.read #b2 {animation-name: b2}
.read #b3 {animation-name: b3}
.read #b4 {animation-name: b4}
.read #b5 {animation-name: b5}
.read #b6 {animation-name: b6}
.read #b7 {animation-name: b7}
.read #b8 {animation-name: b8}
.read #b9 {animation-name: b9}

@keyframes b1 {0.00%{visibility: visible} 9.09%{visibility: hidden}}
@keyframes b2 {9.09%{visibility: visible} 18.18%{visibility: hidden}}
@keyframes b3 {18.18%{visibility: visible} 27.27%{visibility: hidden}}
@keyframes b4 {27.27%{visibility: visible} 36.36%{visibility: hidden}}
@keyframes b5 {36.36%{visibility: visible} 45.45%{visibility: hidden}}
@keyframes b6 {45.45%{visibility: visible} 54.55%{visibility: hidden}}
@keyframes b7 {54.55%{visibility: visible} 63.64%{visibility: hidden}}
@keyframes b8 {63.64%{visibility: visible} 72.73%{visibility: hidden}}
@keyframes b9 {72.73%, 100%{visibility: visible}}



/* Write Animation */

.write #left-wing {
  animation: left-wing_03 .5s ease-in-out forwards;
}

@keyframes left-wing_03 {
  0% {
    transform: translate(213px, 383px) rotate(-3.2deg) translate(-213px, -383px);
  }
  100% {
    transform: translate(213px, 383px) rotate(1deg) translate(-213px, -383px);
  }
}

.write #right-wing {
  animation: right-wing_03 .5s ease-in-out forwards;
}

@keyframes right-wing_03 {
  0% {
    transform: translate(867px, 383px) rotate(-2.4deg) translate(-867px, -383px);
  }
  100% {
    transform: translate(867px, 383px) rotate(5deg) translate(-867px, -383px);
  }
}

.write #left-ear {
  animation: left-ear_03 .5s ease-in-out forwards;
}

@keyframes left-ear_03 {
  0% {
    transform: translate(11px, 19px);
  }
  100% {
    transform: translate(-11px, 1px);
  }
}

.write #right-ear {
  animation: right-ear_03 .5s ease-in-out forwards;
}

@keyframes right-ear_03 {
  0% {
    transform: translate(16px, 0px);
  }
  100% {
    transform: translate(-18px, 14px);
  }
}

.write #belly {
  animation: belly_03 .5s ease-in-out forwards;
}

@keyframes belly_03 {
  0% {
    transform: translate(-40px, 36px);
  }
  100% {
    transform: translate(52px, 36px);
  }
}

.write #eye-circles {
  animation: eye-circles_03 .5s ease-in-out forwards;
}

@keyframes eye-circles_03 {
  0% {
    transform: translate(-36px, 36px);
  }
  100% {
    transform: translate(34px, 36px);
  }
}

.write #eyes {
  animation: eyes_03 .5s ease-in-out forwards;
}

@keyframes eyes_03 {
  0% {
    transform: translate(-57px, 60px);
  }
  100% {
    transform: translate(73px, 60px);
  }
}

.write #opened-eyes {
  animation: opened-eyes_03 .5s ease-in-out forwards;
}

@keyframes opened-eyes_03 {
  0%, 33%, 67%, 100% {
    visibility: visible;
  }
  34%, 66% {
    visibility: hidden;
  }
}

.write #closed-eyes {
  animation: closed-eyes_03 .5s ease-in-out forwards;
}

@keyframes closed-eyes_03 {
  0%, 33%, 67%, 100% {
    visibility: hidden;
  }
  34%, 66% {
    visibility: visible;
  }
}

.write #beak {
  visibility: hidden;
}

.write #b9 {
  visibility: visible;
  animation: b9_03 .5s ease-in-out forwards;
}

@keyframes b9_03 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(114px, 0px);
  }
}


/* Password Animation */

#w1, #w2, #w3, #w4, #left-feather, #right-feather, #long-line {
  visibility: hidden;
}

.password #left-wing {
  animation: left-wing_04 .5s ease-in-out forwards;
}

@keyframes left-wing_04 {
  0%, 66% {
    transform: translate(213px, 383px) rotate(0deg) translate(-213px, -383px);
  }
  33% {
    transform: translate(213px, 383px) rotate(10deg) translate(-213px, -383px);
  }
  0%, 66% {
    visibility: visible;
  }
  67%, 100% {
    visibility: hidden;
  }
}

.password #right-wing {
  animation: right-wing_04 .5s ease-in-out forwards;
}

@keyframes right-wing_04 {
  0%, 66% {
    transform: translate(867px, 383px) rotate(0deg) translate(-867px, -383px);
  }
  33% {
    transform: translate(867px, 383px) rotate(-7.1deg) translate(-867px, -383px);
  }
  0%, 66% {
    visibility: visible;
  }
  67%, 100% {
    visibility: hidden;
  }
}

.password #w1, .password #w2, .password #w3, .password #w4 {
visibility: hidden;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-timing-function: steps(1);
}

.password #w1 {animation-name: w1}
.password #w2 {animation-name: w2}
.password #w3 {animation-name: w3}
.password #w4 {animation-name: w4}

@keyframes w1 {67%{visibility: visible} 75%{visibility: hidden}}
@keyframes w2 {75%{visibility: visible} 83.33%{visibility: hidden}}
@keyframes w3 {83.33%{visibility: visible} 91.67%{visibility: hidden}}
@keyframes w4 {91.67%, 100%{visibility: visible}}

.password #left-feather {
  animation: left-feather .5s linear forwards
}

@keyframes left-feather {
  0%, 66% {
    visibility: hidden;
    transform: translate(89px, 576px) rotate(82deg) translate(-89px, -576px);
  }
  67%, 100% {
    visibility: visible;
  }
  100% {
    transform: translate(89px, 576px) rotate(0deg) translate(-89px, -576px);
  }
}

.password #right-feather {
  animation: right-feather .5s linear forwards
}

@keyframes right-feather {
  0%, 66% {
    visibility: hidden;
    transform: translate(968px, 554px) rotate(-95deg) translate(-968px, -554px);
  }
  67%, 100% {
    visibility: visible;
  }
  100% {
    transform: translate(968px, 554px) rotate(0deg) translate(-968px, -554px);
  }
}

.password #long-line {
  animation: long-line .5s ease-in-out forwards;
}

@keyframes long-line {
  0%, 66% {
    visibility: hidden;
  }
  67%, 100% {
    visibility: visible;
  }
}

.password #body-outline {
  animation: body-outline .5s ease-in-out forwards;
}

@keyframes body-outline {
  0%, 66% {
    visibility: visible;
  }
  67%, 100% {
    visibility: hidden;
  }
}