* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: block;
    height: 62px;
    background: #EB1E45;
    padding: 18px 24px 0 24px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .15em;
    margin-right: 18px;
}

a#mobile_menu {
    margin: 0;
}

header a:hover {
    opacity: .9;
}

footer {
    font-size: 14px;
    padding: 36px;
    text-align: center;
}

footer a {
    color: #000;
}

footer a:hover {
    text-decoration: none;
}

footer #footer_links a {
    font-size: 16px;
    margin: 0 8px;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    color: #EB1E45;
    display: block;
    height: 70px;
    width: 290px;
    margin: 16px auto;
    padding: 16px 0 0 0;
    text-align: center;
}

#main_title {
    opacity: 1;
    transition: opacity .3s linear;
}

#main_title.semitransparent {
    opacity: .3;
}

#main_title.invis {
    opacity: 0;
}

#main_title.ttl1 {
    font-size: 0;
    background: url(../imgs/ttl_won.png) no-repeat;
    background-size: cover;
}

#main_title.ttl2 {
    font-size: 0;
    background: url(../imgs/ttl_savings.png) no-repeat;
    background-size: cover;
}

#main_title.ttl3 {
    font-size: 0;
    background: url(../imgs/ttl_buy.png) no-repeat;
    background-size: cover;
}

#logo_footer {
    display: block;
    width: 310px;
    margin: 0 auto 16px auto;
}

#main {
    max-width: 375px;
    margin: 0 auto;
    position: relative;
}

#card {
    position: absolute;
    left: 36px;
    top: 86px;
    margin: 0 auto;
    width: 302px;
    height: 326px;
}

#card.no_pointer {
    cursor: none;
}

#card.inactive {
    pointer-events: none;
}

#card img {
    display: none;
}

#fish {
    position: absolute;
    left: 36px;
    top: 86px;
    pointer-events: none;
}

#rod {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 240px;
    transform: translate(-50%, 0);
    pointer-events: none;
    animation: rotate 3s ease-in-out infinite;
    transition: opacity .3s linear;
}

#rod.hidden {
    opacity: 0;
    pointer-events: none;
}

#pointer {
    opacity: 1;
    position: absolute;
    left: calc(50% - 40px);
    top: 450px;
    transform: translate(-36px, 0);
    pointer-events: none;
    animation: rotate2 3s ease-in-out infinite;
}

@keyframes rotate {
    0%, 100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
    50% {
        transform: translate(-50%, 0) rotate(-10deg);
    }
}

@keyframes rotate2 {
    0%, 100% {
        transform: translate(-36px, 0) rotate(0deg);
    }
    50% {
        transform: translate(-8px, 6px) rotate(-14deg);
    }
}

#pointer.invis {
    display: none;
}

#prize {
    width: 302px;
    height: 326px;
    border: solid 1px #065EAB;
    margin: 0 auto;
    user-select: none;
}

#prize_img {
    display: block;
    width: 156px;
    height: 156px;
    margin: 24px auto 16px auto;
}

#prize_ttl {
    font-size: 24px;
    font-weight: normal;
    color: #101f89;
    display: block;
    margin: 0;
    padding: 0 8px;
    text-align: center;
}

#subtitle {
    font-size: 18px;
    font-weight: normal;
    display: block;
    margin: 0 0 24px 0;
    padding: 0 8px;
    text-align: center;
}

#prize_info {
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 0 8px;
}

#more_info {
    overflow: hidden;
    max-height: 600px;
    transition: all .4s ease-in-out;
}

#more_info.hidden {
    max-height: 0px;
    pointer-events: none;
}

#sweepstakes_wrapper {
    width: 302px;
    margin: 0 auto;
    text-align: center;
}

#ttl_sweepstakes {
    font-size: 0;
    display: block;
    height: 70px;
    width: 290px;
    margin: 16px auto;
    padding: 16px 0 0 0;
    background: url(../imgs/ttl_sweepstakes.png) no-repeat;
    background-size: cover;
}

#ballot {
    height: 60px;
    margin-right: 8px;
}

#chances {
    display: inline-block;
    color: #101f89;
    font-size: 44px;
    vertical-align: top;
}

.red {
    color: #EB1E45;
}

#bbq {
    position: relative;
    width: 302px;
    height: 191px;
    background: url(../imgs/bbq.png) no-repeat;
    background-size: cover;
    margin: 16px 0;
}

#bbq p {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    left: 128px;
    top: 78px;
    width: 70px;
    text-align: center;
}

#bttn {
    display: block;
    background: #065EAB;
    padding: 12px 8px;
    text-transform: uppercase;
    box-shadow: 0px 6px 0px #084D80;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

#bttn img {
    vertical-align: middle;
    margin: -2px 4px 0 0;
}

#bttn:hover {
    background: #EB1E45;
    box-shadow: 0px 6px 0px #bc1134;
}

@media screen and (max-width: 750px) {

}