* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

header {
    background: #fff;
    min-height: 85px;
    padding: 20px 24px 0 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 99;
}

header a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .07em;
    margin: 0px 12px;
}

header .clmn_70 a {
    color: #00863F;
    margin-bottom: 8px;
}

header .clmn_70 a:hover {
    color: #023c2f;
}

header .clmn_70 a:hover svg path {
    fill: #023c2f;
}

header .clmn_30 {
    text-align: right;
}

header svg {
    vertical-align: middle;
    margin-top: -3px;
}

a {
    color: #00B1DF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
}

h4 span {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin: 0;
    line-height: 1.6;
}

.clmns {
    overflow: hidden;
    position: relative;
}

.clmn_70 {
    float: left;
    width: 70%;
    padding: 8px 16px;
}

.clmn_50 {
    float: left;
    width: 50%;
    padding: 8px 16px;
}

.clmn_30 {
    float: left;
    width: 30%;
    padding: 4px 16px;
}

a.bttn_bonus {
    display: inline-block;
    height: auto;
    background: #008061;
    color: #fff;
    border-radius: 4px;
    border-bottom: solid 4px #023c2f;
    padding: 4px 8px 0px 4px;
    margin-bottom: 8px;
}

a.bttn_bonus:hover {
    color: #008061;
    border: solid 1px #008061;
    border-bottom: solid 4px #023c2f;
    background: #fff;
    text-decoration: none;
}

a.bttn_bonus:hover svg path {
    fill: #008061;
}

a.bttn_log {
    display: inline-block;
    height: auto;
    background: none;
    color: #008061;
    border-radius: 4px;
    border: solid 1px #008061;
    border-bottom-width: 4px;
    padding: 4px 8px 0px 4px;
    margin-bottom: 8px;
}

a.bttn_log:hover {
    background: #008061;
    border-bottom: solid 4px #023c2f;
    color: #fff;
    text-decoration: none;
}

a.bttn_log:hover svg path {
    fill: #fff;
}

a.bttn_green {
    font-weight: bold;
    display: inline-block;
    background: #008061;
    color: #fff;
    border-radius: 4px;
    border: solid 1px #008061;
    border-bottom: solid 4px #023c2f;
    padding: 10px 32px 8px 32px;
    margin-top: 16px;
}

a.bttn_green:hover {
    color: #008061;
    border: solid 1px #008061;
    border-bottom: solid 4px #023c2f;
    background: #fff;
    text-decoration: none;
}

footer {
    padding: 16px 8px 30px 8px;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

footer h3 {
    font-size: 22px;
    color: #00863F;
    font-weight: normal;
}

#footer_links {
    padding: 16px 0;
    font-size: 12px;
}

#footer_links a, #footer_note a {
    color: #000;
}

#footer_links a {
    margin: 0 6px;
}

#footer_note {
    font-size: 11px;
    color: #000;
    max-width: 1280px;
    margin: 0 auto;
}

.social {
    padding: 32px 8px 8px 8px;
}

.social a {
    margin: 0 8px;
}

#main {
    padding: 100px 0px 48px 0px;
    color: #fff;
    opacity: 1;
    min-height: 600px;
    background: #8CC63F;
    text-align: center;
    transition: all .4s linear;
}

#mobile_menu {
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
    top: 26px;
    right: 24px;
    width: 21px;
    height: 12px;
    background: linear-gradient(to bottom, #005C45 0px, #005C45 2px, transparent 2px, transparent 5px, #005C45 5px, #005C45 7px, transparent 7px, transparent 10px, #005C45 10px, #005C45 12px);
}

#animation {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#d1 {
    opacity: 0;
    animation: d_anim1 .5s -.2s linear 7;
    animation-play-state: paused;
}

#d3 {
    opacity: 0;
    animation: d_anim12 .5s -.4s linear 10;
    animation-play-state: paused;
}

#d5 {
    opacity: 0;
    animation: d_anim13 .5s -.31s linear 9;
    animation-play-state: paused;
}

#d7 {
    opacity: 0;
    animation: d_anim1 .5s -.42s linear 8;
    animation-play-state: paused;
}

#d9 {
    opacity: 0;
    animation: d_anim13 .5s -.1s linear 7;
    animation-play-state: paused;
}

#d11 {
    opacity: 0;
    animation: d_anim1 .5s -.4s linear 11;
    animation-play-state: paused;
}

#d13 {
    opacity: 0;
    animation: d_anim12 .5s -.33s linear 10;
    animation-play-state: paused;
}

#d15 {
    opacity: 0;
    animation: d_anim12 .5s -.24s linear 8;
    animation-play-state: paused;
}

#d17 {
    opacity: 0;
    animation: d_anim13 .5s -.37s linear 6;
    animation-play-state: paused;
}

#d19 {
    opacity: 0;
    animation: d_anim12 .5s -.2s linear 9;
    animation-play-state: paused;
}

@keyframes d_anim1 {
    0% {
        transform: translate(0px, -40px);
    }
    100% {
        transform: translate(0px, 160px);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

@keyframes d_anim12 {
    0% {
        transform: scale(.9) translate(10px, -40px);
    }
    100% {
        transform: scale(.9) translate(10px, 182px);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

@keyframes d_anim13 {
    0% {
        transform: scale(1.1) translate(-10px, -40px);
    }
    100% {
        transform: scale(1.1) translate(-10px, 134px);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

#d2 {
    opacity: 0;
    animation: d_anim22 .5s -.4s linear 8;
    animation-play-state: paused;
}

#d4 {
    opacity: 0;
    animation: d_anim2 .5s -.3s linear 11;
    animation-play-state: paused;
}

#d6 {
    opacity: 0;
    animation: d_anim2 .5s -.05s linear 7;
    animation-play-state: paused;
}

#d8 {
    opacity: 0;
    animation: d_anim22 .5s -.15s linear 8;
    animation-play-state: paused;
}

#d10 {
    opacity: 0;
    animation: d_anim2 .5s -.2s linear 10;
    animation-play-state: paused;
}

#d12 {
    opacity: 0;
    animation: d_anim22 .5s -.44s linear 7;
    animation-play-state: paused;
}

#d14 {
    opacity: 0;
    animation: d_anim22 .5s -.3s linear 9;
    animation-play-state: paused;
}

#d16 {
    opacity: 0;
    animation: d_anim2 .5s -.1s linear 10;
    animation-play-state: paused;
}

#d18 {
    opacity: 0;
    animation: d_anim22 .5s -.2s linear 6;
    animation-play-state: paused;
}

#d20 {
    opacity: 0;
    animation: d_anim2 .5s  -.44s linear 9;
    animation-play-state: paused;
}

@keyframes d_anim2 {
    0% {
        transform: scale(.75) translate(15px, -30px);
    }
    100% {
        transform: scale(.75) translate(15px, 237px);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

@keyframes d_anim22 {
    0% {
        transform: scale(.65) translate(20px, -30px);
    }
    100% {
        transform: scale(.65) translate(20px, 278px);
    }
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.animated #d1, .animated #d2, .animated #d3, .animated #d4, .animated #d5, .animated #d6, .animated #d7, .animated #d8, .animated #d9, .animated #d10, .animated #d11, .animated #d12, .animated #d13, .animated #d14, .animated #d15, .animated #d16, .animated #d17, .animated #d18, .animated #d19, .animated #d20 {
    animation-play-state: running;
}

.animated #wiper {
    animation: wiper 1.5s ease-in-out 4;
}

@keyframes wiper {
    0%, 100% {
        transform: translate(187.5px, 316px) rotate(0deg) translate(-187.5px, -316px);
    }
    50% {
        transform: translate(187.5px, 316px) rotate(-90deg) translate(-187.5px, -316px);
    }
}

.animated #window {
    animation: window 6s linear forwards;
}

@keyframes window {
    0%, 30% {
        fill: #00745a;
    }
    75% {
        fill: #c6e0a0;
    }
    100% {
        fill: #ebf4de;
    }
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9, #s10, #s11, #s12 {
    display: none;
}

.animated #s1 {
    display: block;
    transform: translate(40px, 105px) scale(0) translate(-40px, -105px);
    animation: s1 1s 4.5s ease-in-out forwards;
}

@keyframes s1 {
    0% {
        transform: translate(40px, 105px) scale(0) translate(-40px, -105px);
    }
    50% {
        transform: translate(40px, 105px) scale(1.2) translate(-40px, -105px);
    }
    100% {
        transform: translate(40px, 105px) scale(1) translate(-40px, -105px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s2 {
    display: block;
    transform: translate(60px, 184px) scale(0) translate(-60px, -184px);
    animation: s2 1s 4s ease-in-out forwards;
}

@keyframes s2 {
    0% {
        transform: translate(60px, 184px) scale(0) translate(-60px, -184px);
    }
    50% {
        transform: translate(60px, 184px) scale(1.2) translate(-60px, -184px);
    }
    100% {
        transform: translate(60px, 184px) scale(1) translate(-60px, -184px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s3 {
    display: block;
    transform: translate(106px, 124px) scale(0) translate(-106px, -124px);
    animation: s3 1s 5.2s ease-in-out forwards;
}

@keyframes s3 {
    0% {
        transform: translate(106px, 124px) scale(0) translate(-106px, -124px);
    }
    50% {
        transform: translate(106px, 124px) scale(1.2) translate(-106px, -124px);
    }
    100% {
        transform: translate(106px, 124px) scale(1) translate(-106px, -124px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s4 {
    display: block;
    transform: translate(167px, 70px) scale(0) translate(-167px, -70px);
    animation: s4 1s 6.2s ease-in-out forwards;
}

@keyframes s4 {
    0% {
        transform: translate(167px, 70px) scale(0) translate(-167px, -70px);
    }
    50% {
        transform: translate(167px, 70px) scale(1.2) translate(-167px, -70px);
    }
    100% {
        transform: translate(167px, 70px) scale(1) translate(-167px, -70px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s5 {
    display: block;
    transform: translate(126px, 211px) scale(0) translate(-126px, -211px);
    animation: s5 1s 5.8s ease-in-out forwards;
}

@keyframes s5 {
    0% {
        transform: translate(126px, 211px) scale(0) translate(-126px, -211px);
    }
    50% {
        transform: translate(126px, 211px) scale(1.2) translate(-126px, -211px);
    }
    100% {
        transform: translate(126px, 211px) scale(1) translate(-126px, -211px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s6 {
    display: block;
    transform: translate(166px, 135px) scale(0) translate(-166px, -135px);
    animation: s6 1s 3.4s ease-in-out forwards;
}

@keyframes s6 {
    0% {
        transform: translate(166px, 135px) scale(0) translate(-166px, -135px);
    }
    50% {
        transform: translate(166px, 135px) scale(1.2) translate(-166px, -135px);
    }
    100% {
        transform: translate(166px, 135px) scale(1) translate(-166px, -135px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s7 {
    display: block;
    transform: translate(197px, 171px) scale(0) translate(-197px, -171px);
    animation: s7 1s 4.1s ease-in-out forwards;
}

@keyframes s7 {
    0% {
        transform: translate(197px, 171px) scale(0) translate(-197px, -171px);
    }
    50% {
        transform: translate(197px, 171px) scale(1.2) translate(-197px, -171px);
    }
    100% {
        transform: translate(197px, 171px) scale(1) translate(-197px, -171px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s8 {
    display: block;
    transform: translate(216px, 120px) scale(0) translate(-216px, -120px);
    animation: s8 1s 5s ease-in-out forwards;
}

@keyframes s8 {
    0% {
        transform: translate(216px, 120px) scale(0) translate(-216px, -120px);
    }
    50% {
        transform: translate(216px, 120px) scale(1.2) translate(-216px, -120px);
    }
    100% {
        transform: translate(216px, 120px) scale(1) translate(-216px, -120px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s9 {
    display: block;
    transform: translate(264px, 80px) scale(0) translate(-264px, -80px);
    animation: s9 1s 3.8s ease-in-out forwards;
}

@keyframes s9 {
    0% {
        transform: translate(264px, 80px) scale(0) translate(-264px, -80px);
    }
    50% {
        transform: translate(264px, 80px) scale(1.2) translate(-264px, -80px);
    }
    100% {
        transform: translate(264px, 80px) scale(1) translate(-264px, -80px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s10 {
    display: block;
    transform: translate(268px, 215px) scale(0) translate(-268px, -215px);
    animation: s10 1s 5.5s ease-in-out forwards;
}

@keyframes s10 {
    0% {
        transform: translate(268px, 215px) scale(0) translate(-268px, -215px);
    }
    50% {
        transform: translate(268px, 215px) scale(1.2) translate(-268px, -215px);
    }
    100% {
        transform: translate(268px, 215px) scale(1) translate(-268px, -215px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s11 {
    display: block;
    transform: translate(284px, 145px) scale(0) translate(-284px, -145px);
    animation: s11 1s 4.6s ease-in-out forwards;
}

@keyframes s11 {
    0% {
        transform: translate(284px, 145px) scale(0) translate(-284px, -145px);
    }
    50% {
        transform: translate(284px, 145px) scale(1.2) translate(-284px, -145px);
    }
    100% {
        transform: translate(284px, 145px) scale(1) translate(-284px, -145px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated #s12 {
    display: block;
    transform: translate(336px, 120px) scale(0) translate(-336px, -120px);
    animation: s12 1s 6s ease-in-out forwards;
}

@keyframes s12 {
    0% {
        transform: translate(336px, 120px) scale(0) translate(-336px, -120px);
    }
    50% {
        transform: translate(336px, 120px) scale(1.2) translate(-336px, -120px);
    }
    100% {
        transform: translate(336px, 120px) scale(1) translate(-336px, -120px);
    }
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9, #l10, #l11, #l12 {
    stroke-dasharray: 11px;
    stroke-dashoffset: 33px;
}

.animated #l1 {
    animation: dash 1s 4.5s ease-in-out forwards;
}

.animated #l2 {
    animation: dash 1s 4s ease-in-out forwards;
}

.animated #l3 {
    animation: dash 1s 5.2s ease-in-out forwards;
}

.animated #l4 {
    animation: dash 1s 5.8s ease-in-out forwards;
}

.animated #l5 {
    animation: dash 1s 6.2s ease-in-out forwards;
}

.animated #l6 {
    animation: dash 1s 3.4s ease-in-out forwards;
}

.animated #l7 {
    animation: dash 1s 4.1s ease-in-out forwards;
}

.animated #l8 {
    animation: dash 1s 5s ease-in-out forwards;
}

.animated #l9 {
    animation: dash 1s 3.8s ease-in-out forwards;
}

.animated #l10 {
    animation: dash 1s 5.5s ease-in-out forwards;
}

.animated #l11 {
    animation: dash 1s 4.6s ease-in-out forwards;
}

.animated #l12 {
    animation: dash 1s 6s ease-in-out forwards;
}

@keyframes dash {
    0%, 50% {
        stroke-dashoffset: 33px;
    }
    100% {
        stroke-dashoffset: 11px;
    }
}


.animated #c1 {
    transform: translate(241px, 138px) scale(0) translate(-241px, -138px);
    animation: dots1 1s 5s ease-in-out forwards;
}

@keyframes dots1 {
    0% {
        transform: translate(241px, 138px) scale(0) translate(-241px, -138px);
    }
    50% {
        transform: translate(241px, 138px) scale(2) translate(-241px, -138px);
    }
    100% {
        transform: translate(241px, 138px) scale(1) translate(-241px, -138px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c2 {
    transform: translate(25px, 129px) scale(0) translate(-25px, -129px);
    animation: dots2 1s 4s ease-in-out forwards;
}

@keyframes dots2 {
    0% {
        transform: translate(25px, 129px) scale(0) translate(-25px, -129px);
    }
    50% {
        transform: translate(25px, 129px) scale(2) translate(-25px, -129px);
    }
    100% {
        transform: translate(25px, 129px) scale(1) translate(-25px, -129px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c3 {
    transform: translate(66px, 129px) scale(0) translate(-66px, -129px);
    animation: dots3 1s 3s ease-in-out forwards;
}

@keyframes dots3 {
    0% {
        transform: translate(66px, 129px) scale(0) translate(-66px, -129px);
    }
    50% {
        transform: translate(66px, 129px) scale(2) translate(-66px, -129px);
    }
    100% {
        transform: translate(66px, 129px) scale(1) translate(-66px, -129px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c4 {
    transform: translate(93px, 88px) scale(0) translate(-93px, -88px);
    animation: dots4 1s 4.5s ease-in-out forwards;
}

@keyframes dots4 {
    0% {
        transform: translate(93px, 88px) scale(0) translate(-93px, -88px);
    }
    50% {
        transform: translate(93px, 88px) scale(2) translate(-93px, -88px);
    }
    100% {
        transform: translate(93px, 88px) scale(1) translate(-93px, -88px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c5 {
    transform: translate(82px, 163px) scale(0) translate(-82px, -163px);
    animation: dots5 1s 3.5s ease-in-out forwards;
}

@keyframes dots5 {
    0% {
        transform: translate(82px, 163px) scale(0) translate(-82px, -163px);
    }
    50% {
        transform: translate(82px, 163px) scale(2) translate(-82px, -163px);
    }
    100% {
        transform: translate(82px, 163px) scale(1) translate(-82px, -163px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c6 {
    transform: translate(155px, 169px) scale(0) translate(-155px, -169px);
    animation: dots6 1s 6s ease-in-out forwards;
}

@keyframes dots6 {
    0% {
        transform: translate(155px, 169px) scale(0) translate(-155px, -169px);
    }
    50% {
        transform: translate(155px, 169px) scale(2) translate(-155px, -169px);
    }
    100% {
        transform: translate(155px, 169px) scale(1) translate(-155px, -169px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c7 {
    transform: translate(208px, 148px) scale(0) translate(-208px, -148px);
    animation: dots7 1s 3.3s ease-in-out forwards;
}

@keyframes dots7 {
    0% {
        transform: translate(208px, 148px) scale(0) translate(-208px, -148px);
    }
    50% {
        transform: translate(208px, 148px) scale(2) translate(-208px, -148px);
    }
    100% {
        transform: translate(208px, 148px) scale(1) translate(-208px, -148px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c8 {
    transform: translate(191px, 111px) scale(0) translate(-191px, -111px);
    animation: dots8 1s 4.2s ease-in-out forwards;
}

@keyframes dots8 {
    0% {
        transform: translate(191px, 111px) scale(0) translate(-191px, -111px);
    }
    50% {
        transform: translate(191px, 111px) scale(2) translate(-191px, -111px);
    }
    100% {
        transform: translate(191px, 111px) scale(1) translate(-191px, -111px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c9 {
    transform: translate(139px, 86px) scale(0) translate(-139px, -86px);
    animation: dots9 1s 3.8s ease-in-out forwards;
}

@keyframes dots9 {
    0% {
        transform: translate(139px, 86px) scale(0) translate(-139px, -86px);
    }
    50% {
        transform: translate(139px, 86px) scale(2) translate(-139px, -86px);
    }
    100% {
        transform: translate(139px, 86px) scale(1) translate(-139px, -86px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c10 {
    transform: translate(129px, 142px) scale(0) translate(-129px, -142px);
    animation: dots10 1s 5.2s ease-in-out forwards;
}

@keyframes dots10 {
    0% {
        transform: translate(129px, 142px) scale(0) translate(-129px, -142px);
    }
    50% {
        transform: translate(129px, 142px) scale(2) translate(-129px, -142px);
    }
    100% {
        transform: translate(129px, 142px) scale(1) translate(-129px, -142px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c11 {
    transform: translate(126px, 182px) scale(0) translate(-126px, -182px);
    animation: dots11 1s 5.5s ease-in-out forwards;
}

@keyframes dots11 {
    0% {
        transform: translate(126px, 182px) scale(0) translate(-126px, -182px);
    }
    50% {
        transform: translate(126px, 182px) scale(2) translate(-126px, -182px);
    }
    100% {
        transform: translate(126px, 182px) scale(1) translate(-126px, -182px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c12 {
    transform: translate(179px, 196px) scale(0) translate(-179px, -196px);
    animation: dots12 1s 4.6s ease-in-out forwards;
}

@keyframes dots12 {
    0% {
        transform: translate(179px, 196px) scale(0) translate(-179px, -196px);
    }
    50% {
        transform: translate(179px, 196px) scale(2) translate(-179px, -196px);
    }
    100% {
        transform: translate(179px, 196px) scale(1) translate(-179px, -196px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c13 {
    transform: translate(94px, 199px) scale(0) translate(-94px, -199px);
    animation: dots13 1s 3.2s ease-in-out forwards;
}

@keyframes dots13 {
    0% {
        transform: translate(94px, 199px) scale(0) translate(-94px, -199px);
    }
    50% {
        transform: translate(94px, 199px) scale(2) translate(-94px, -199px);
    }
    100% {
        transform: translate(94px, 199px) scale(1) translate(-94px, -199px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c14 {
    transform: translate(259px, 172px) scale(0) translate(-259px, -172px);
    animation: dots14 1s 4.1s ease-in-out forwards;
}

@keyframes dots14 {
    0% {
        transform: translate(259px, 172px) scale(0) translate(-259px, -172px);
    }
    50% {
        transform: translate(259px, 172px) scale(2) translate(-259px, -172px);
    }
    100% {
        transform: translate(259px, 172px) scale(1) translate(-259px, -172px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c15 {
    transform: translate(298px, 196px) scale(0) translate(-298px, -196px);
    animation: dots15 1s 3.7s ease-in-out forwards;
}

@keyframes dots15 {
    0% {
        transform: translate(298px, 196px) scale(0) translate(-298px, -196px);
    }
    50% {
        transform: translate(298px, 196px) scale(2) translate(-298px, -196px);
    }
    100% {
        transform: translate(298px, 196px) scale(1) translate(-298px, -196px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c16 {
    transform: translate(314px, 154px) scale(0) translate(-314px, -154px);
    animation: dots16 1s 4.4s ease-in-out forwards;
}

@keyframes dots16 {
    0% {
        transform: translate(314px, 154px) scale(0) translate(-314px, -154px);
    }
    50% {
        transform: translate(314px, 154px) scale(2) translate(-314px, -154px);
    }
    100% {
        transform: translate(314px, 154px) scale(1) translate(-314px, -154px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c17 {
    transform: translate(229px, 92px) scale(0) translate(-229px, -92px);
    animation: dots17 1s 5.3s ease-in-out forwards;
}

@keyframes dots17 {
    0% {
        transform: translate(229px, 92px) scale(0) translate(-229px, -92px);
    }
    50% {
        transform: translate(229px, 92px) scale(2) translate(-229px, -92px);
    }
    100% {
        transform: translate(229px, 92px) scale(1) translate(-229px, -92px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c18 {
    transform: translate(214px, 68px) scale(0) translate(-214px, -68px);
    animation: dots18 1s 3.8s ease-in-out forwards;
}

@keyframes dots18 {
    0% {
        transform: translate(214px, 68px) scale(0) translate(-214px, -68px);
    }
    50% {
        transform: translate(214px, 68px) scale(2) translate(-214px, -68px);
    }
    100% {
        transform: translate(214px, 68px) scale(1) translate(-214px, -68px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c19 {
    transform: translate(292px, 112px) scale(0) translate(-292px, -112px);
    animation: dots19 1s 4.5s ease-in-out forwards;
}

@keyframes dots19 {
    0% {
        transform: translate(292px, 112px) scale(0) translate(-292px, -112px);
    }
    50% {
        transform: translate(292px, 112px) scale(2) translate(-292px, -112px);
    }
    100% {
        transform: translate(292px, 112px) scale(1) translate(-292px, -112px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c20 {
    transform: translate(309px, 86px) scale(0) translate(-309px, -86px);
    animation: dots20 1s 5.1s ease-in-out forwards;
}

@keyframes dots20 {
    0% {
        transform: translate(309px, 86px) scale(0) translate(-309px, -86px);
    }
    50% {
        transform: translate(309px, 86px) scale(2) translate(-309px, -86px);
    }
    100% {
        transform: translate(309px, 86px) scale(1) translate(-309px, -86px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated #c21 {
    transform: translate(351px, 135px) scale(0) translate(-351px, -135px);
    animation: dots21 1s 5.9s ease-in-out forwards;
}

@keyframes dots21 {
    0% {
        transform: translate(351px, 135px) scale(0) translate(-351px, -135px);
    }
    50% {
        transform: translate(351px, 135px) scale(2) translate(-351px, -135px);
    }
    100% {
        transform: translate(351px, 135px) scale(1) translate(-351px, -135px);
    }
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10, #c11, #c12, #c13, #c14, #c15, #c16, #c17, #c18, #c19, #c20, #c21 {
    opacity: 0;
}

#prize {
    opacity: 0;
}

.animated #prize {
    animation: prize .8s 4.7s linear forwards;
}

#content {
    padding: 0px 16px;
    overflow: hidden;
    max-height: 500px;
    transition: all .5s ease-in-out;
}

#content.invis {
    max-height: 0px;
    pointer-events: none;
}

@keyframes prize {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#start.invis {
    display: none;
}

@media (max-width: 1390px) {
    header a {
        font-size: 12px;
        letter-spacing: initial;
        margin: 0px 2px;
    }
    .clmn_70 {
        padding: 8px 4px;
    }
    .clmn_30 {
        padding: 4px;
    }
    header a svg {
        width: 21px;
        height: 21px;
    }
}

@media (max-width: 998px) {

    #mobile_menu {
        display: block;
    }

    #main_header .clmns {
        display: none;
    }

    header {
        min-height: 62px;
    }

}


@media (max-width: 768px) {


}