@font-face {
    font-family: 'Volte';
    src: url('../fonts/volte.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Semibold';
    src: url('../fonts/volte_semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Bold';
    src: url('../fonts/volte_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Volte", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background: #BA0C2F;
    min-height: 62px;
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 99;
}

header a {
    font-family: 'Volte Semibold', sans-serif;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .07em;
    margin: 0px 12px;
}

header a:hover {
    color: #f6c7cb;
}

header a:hover path {
    fill: #f6c7cb;
}

header a.bttn {
    background: transparent;
    color: #fff;
    padding: 3px 12px;
    margin: 0 0 0 8px;
    height: auto;
    border: solid 1px #fff;
    border-radius: 4px;
}

header svg {
    vertical-align: middle;
    margin-top: -3px;
}

header a.bttn:hover {
    color: #005670;
    background: #fff;
}

header a.bttn:hover path {
    fill: #005670;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#header_button {
    float: right;
}

#header_links {
    padding-top: 4px;
}

#mobile_menu {
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
    top: 26px;
    right: 24px;
    width: 21px;
    height: 12px;
    background: linear-gradient(to bottom, #fff 0px, #fff 2px, transparent 2px, transparent 5px, #fff 5px, #fff 7px, transparent 7px, transparent 10px, #fff 10px, #fff 12px);
}

#mobile_menu:hover {
    background: linear-gradient(to bottom, #f6c7cb 0px, #f6c7cb 2px, transparent 2px, transparent 5px, #f6c7cb 5px, #f6c7cb 7px, transparent 7px, transparent 10px, #f6c7cb 10px, #f6c7cb 12px);
}

#main {
    background: #fff;
    position: relative;
    padding: 66px 0 24px 0;
}

footer {
    color: #000;
    font-size: 12px;
    line-height: 1.3;
    padding: 16px 36px 30px 36px;
    margin: 0 auto;
    text-align: center;
}

footer a {
    color: #000;
    text-decoration: none;
}

#social {
    padding-bottom: 16px;
}

#social a {
    margin: 0 10px;
}

#footer_nav a {
    margin: 0 4px;
    font-size: 14px;
}

#footer_nav a:hover {
    text-decoration: underline;
}

#footer_logo {
    display: block;
    margin: 32px auto;
}

#footer_note {
    text-align: left;
    max-width: 1150px;
    margin: 0 auto;
    text-decoration: center;
}

#game {
    position: relative;
    background: url(../imgs/beach.jpg) no-repeat right top;
    min-height: 406px;
    text-align: center;
}

#prize_wrapper {
    color: #fff;
    position: absolute;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    line-height: 1;
    transition: opacity .3s;
}

#prize_wrapper.invis {
    opacity: 0;
    pointer-events: none;
}

#prize_top {
    font-size: 24px;
    margin: 0;
}

#prize {
    font-size: 126px;
    margin: 0;
}

#prize_bottom {
    font-size: 24px;
    margin: 0;
}

#content {
    max-width: 480px;
    padding: 24px 36px 0px 36px;
    margin: 0px auto;
    text-align: center;
    line-height: 1.4;
    max-height: 750px;
    overflow: hidden;
    opacity: 1;
    pointer-events: initial;
    transition: all .5s ease-in-out;
}

#content.invis {
    pointer-events: none;
    opacity: 0;
    max-height: 0px;
    padding: 0px 36px;
}

#content h3 {
    color: #BA0C2F;
    font-size: 21px;
    font-family: 'Volte Semibold';
    margin: 0 0 16px 0;
}

.clmns {
    position: relative;
    overflow: hidden;
}

.clmn_50 {
    float: left;
    width: 50%;
    padding: 0 8px;
}

.entries {
    color: #005670;
    font-family: 'Volte Bold';
}

.content_bttn {
    font-family: 'Volte Semibold';
    display: block;
    color: #fff;
    background-color: #005670;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .4);
    border-radius: 6px;
    height: 48px;
    line-height: 46px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.content_bttn svg {
    vertical-align: middle;
    margin: -2px 8px 0 0;
}

.content_bttn:hover {
    background-color: #BA0C2F;
}

#bonus {
    opacity: 1;
    padding-top: 16px;
    margin-top: 0px;
    transition: all .3s linear;
}

#bonus.invis {
    margin-top: -20px;
    opacity: 0;
}

#more_info {
    font-family: 'Volte Bold';
    padding: 16px 0 0 0;
    font-size: 13px;
    opacity: 1;
    transition: all .3s linear;
}

#more_info.invis {
    opacity: 0;
}

#more_info a {
    display: inline-block;
    padding: 8px 0;
    color: #BA0C2F;
}

#more_info a svg {
    vertical-align: middle;
    margin-right: 6px;
}

#more_info a:hover {
    color: #005670;
}

#more_info a:hover svg path {
    fill: #005670;
}

#hand {
    position: absolute;
    left: 50%;
    top: 220px;
    transform: rotate(-20deg);
    pointer-events: none;
    opacity: 1;
    transition: all .3s;
}

#hand.invis {
    opacity: 0;
}

#start_bttn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #BA0C2F;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    width: 168px;
    height: 168px;
    border-radius: 84px;
    text-align: center;
    padding-top: 64px;
    user-select: none;
    opacity: 1;
    transition: all .3s;
}

#start_bttn:hover {
    background-color: #005670
}

#start_bttn.invis {
    opacity: 0;
    pointer-events: none;
}

#game_circle.invis {
    display: none;
}

#game_circle {
    transform: translate(188px, -50px) scale(.4, .4) translate(-188px, -233px);
    animation: circle 3s linear forwards;
}

@keyframes circle {
    0% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -141.2) }
    1% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -139.4) }
    2% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -133.8) }
    3% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -123.7) }
    4% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -108.5) }
    5% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -87.3) }
    6% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -58.8) }
    7% { transform: matrix(0.4, 0, 0, 0.4, 112.8, -21.5) }
    8% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 26.2) }
    9% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 86.1) }
    10% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 156.7) }
    11% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 224.2) }
    12%, 36%, 60% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 253.8) }
    13%, 37%, 61% { transform: matrix(0.4, 0, 0, 0.357, 112.8, 268.529) }
    14%, 38%, 62% { transform: matrix(0.4, 0, 0, 0.319, 112.8, 281.643) }
    15%, 39%, 63% { transform: matrix(0.4, 0, 0, 0.3, 112.8, 288.1) }
    16%, 40%, 64% { transform: matrix(0.4, 0, 0, 0.3, 112.8, 288.1) }
    17%, 41%, 65% { transform: matrix(0.4, 0, 0, 0.319, 112.8, 281.643) }
    18%, 42%, 66% { transform: matrix(0.4, 0, 0, 0.357, 112.8, 268.529) }
    19%, 43%, 67% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 253.8) }
    20%, 44%, 68% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 221) }
    21%, 45%, 69% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 170.9) }
    22%, 46%, 70% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 137.7) }
    23%, 47%, 71% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 116.5) }
    24%, 48%, 72% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 102.8) }
    25%, 49%, 73% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 94.5) }
    26%, 50%, 74% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 90.1) }
    27%, 51% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 88.8) }
    28%, 52% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 88.8) }
    29%, 53% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 90.1) }
    30%, 54% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 94.5) }
    31%, 55% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 102.8) }
    32%, 56% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 116.5) }
    33%, 57% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 137.7) }
    34%, 58% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 170.9) }
    35%, 59% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 221) }
    75% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 88.8) }
    76% { transform: matrix(0.4, 0, 0, 0.4, 112.8, 88.8) }
    77% { transform: matrix(0.432, 0, 0, 0.432, 106.784, 89.804) }
    78% { transform: matrix(0.497, 0, 0, 0.497, 94.564, 84.709) }
    79% { transform: matrix(0.574, 0, 0, 0.574, 80.088, 74.078) }
    80% { transform: matrix(0.651, 0, 0, 0.651, 65.612, 61.847) }
    81% { transform: matrix(0.724, 0, 0, 0.724, 51.888, 49.528) }
    82% { transform: matrix(0.789, 0, 0, 0.789, 39.668, 38.233) }
    83% { transform: matrix(0.846, 0, 0, 0.846, 28.952, 28.062) }
    84% { transform: matrix(0.894, 0, 0, 0.894, 19.928, 19.418) }
    85% { transform: matrix(0.933, 0, 0, 0.933, 12.596, 12.401) }
    86% { transform: matrix(0.963, 0, 0, 0.963, 6.95599, 6.811) }
    87% { transform: matrix(0.984, 0, 0, 0.984, 3.008, 2.948) }
    88% { transform: matrix(0.996, 0, 0, 0.996, 0.751999, 0.71199) }
    89%, 100% { transform: matrix(1, 0, 0, 1, 0, 0) }
}

@media (max-width: 1100px) {
    #mobile_menu {
        display: block;
        top: 15px;
        right: 16px;
    }

    #header_button, #header_links {
        display: none;
    }

    header {
        min-height: 44px;
    }
    #main {
        padding-top: 44px;
    }
}