@font-face {
    font-family: 'Century Gothic Regular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../fonts/gothicb-webfont.woff2') format('woff2'),
         url('../fonts/gothicb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
    outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
    font-family: 'Century Gothic Bold';
    text-transform: uppercase;
    margin: 0;
}

h3, h4, h5 {
    font-family: 'Century Gothic Regular';
    margin: 0;
}

h2 {
    color: #005DA6;
    font-size: 31px;
}

h3 {
    color: #005DA6;
    font-size: 24px;
}

p {
    color: #2D3748;
    font-size: 18px;
    line-height: 34px;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 92px;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

footer {
    color: #fff;
    background: #005DA6;
    overflow: hidden;
    padding: 56px 160px;
    line-height: 2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clmns {
    overflow: hidden;
}

.clmn_15 {
    float: left;
    width: 15%;
}

.clmn_25 {
    float: left;
    width: 25%;
}

.clmn_30 {
    float: left;
    width: 30%;
}

.clmn_33 {
    float: left;
    width: 33%;
}

.clmn_40 {
    float: left;
    width: 40%;
}

.clmn_50 {
    float: left;
    width: 50%;
}

.clmn_60 {
    float: left;
    width: 60%;
}

.clmn_65 {
    float: left;
    width: 65%;
}

.clmn_70 {
    float: left;
    width: 70%;
}

#logo {
    display: block;
    position: absolute;
    left: 62px;
    top: 17px;
    transition: all .3s linear;
}

#logo.hidden, #logo_big.hidden {
    opacity: 0;
    pointer-events: none;
}

#logo_big.hidden {
    transform: scale(.5);
}

#nav {
    position: absolute;
    right: 300px;
    top: 32px;
}

#nav a {
    font-family: 'Century Gothic Regular', sans-serif;
    color: #005DA6;
    text-decoration: none;
    font-size: 18px;
    margin-left: 24px;
}

#nav a:hover {
    color: #76BC43;
}

#nav a.selected {
    font-family: 'Century Gothic Bold', sans-serif;
}

#contact_us {
    font-size: 14px;
    font-family: 'Century Gothic Regular', sans-serif;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 42px;
    color: #fff;
    position: absolute;
    right: 42px;
    top: 26px;
    display: block;
    width: 200px;
    height: 42px;
    padding: 0px 20px;
    background: url(../imgs/icn_plus.svg) no-repeat 20px center #76BC43;
    border-radius: 24px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

#contact_us:hover {
    background-color: #005DA6;
}

#hero {
    padding-top: 92px;
}

#hero_wrapper {
    height: 950px;
    width: 100%;
    overflow: hidden;
}

#hero_wrapper svg {
    min-width: 1920px;
}

#top {
    animation: wave_top 90s linear infinite;
}

@keyframes wave_top {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(1894px, -175px);
    }
}

#bottom {
    animation: wave_bottom 60s linear infinite;
}

@keyframes wave_bottom {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(2486px, -340px);
    }
}

#b1 {
    animation: b1 75s -42s ease infinite;
}

@keyframes b1 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(858px, -960px);
    }
    20% {
        transform: translate(217px, -776px);
    }
    30% {
        transform: translate(-145px, -551px);
    }
    40% {
        transform: translate(-386px, -830px);
    }
    50% {
        transform: translate(471px, -398px);
    }
    60% {
        transform: translate(346px, -815px);
    }
    70% {
        transform: translate(767px, -487px);
    }
    80% {
        transform: translate(554px, -873px);
    }
    90% {
        transform: translate(-220px, -535px);
    }
}

#b2 {
    animation: b2 66s -32s linear infinite;
}

@keyframes b2 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-936px, -562px);
    }
    20% {
        transform: translate(581px, -1015px);
    }
    30% {
        transform: translate(36px, -508px);
    }
    40% {
        transform: translate(36px, -508px);
    }
    50% {
        transform: translate(-715px, -838px);
    }
    60% {
        transform: translate(-1026px, -308px);
    }
    70% {
        transform: translate(45px, -955px);
    }
    80% {
        transform: translate(440px, -562px);
    }
    90% {
        transform: translate(-487px, -452px);
    }
}

#b3 {
    animation: b3 81s -38s linear infinite;
}

@keyframes b3 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-577px, -782px);
    }
    20% {
        transform: translate(723px, -969px);
    }
    30% {
        transform: translate(1192px, -678px);
    }
    40% {
        transform: translate(222px, -486px);
    }
    50% {
        transform: translate(444px, -852px);
    }
    60% {
        transform: translate(-136px, -452px);
    }
    70% {
        transform: translate(-607px, -852px);
    }
    80% {
        transform: translate(534px, -496px);
    }
    90% {
        transform: translate(-302px, -603px);
    }
}

#b4 {
    animation: b4 74s -48s linear infinite;
}

@keyframes b4 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-131px, -858px);
    }
    20% {
        transform: translate(683px, -522px);
    }
    30% {
        transform: translate(-499px, -921px);
    }
    40% {
        transform: translate(-957px, -348px);
    }
    50% {
        transform: translate(-68px, -784px);
    }
    60% {
        transform: translate(695px, -1051px);
    }
    70% {
        transform: translate(-699px, -789px);
    }
    80% {
        transform: translate(-280px, -313px);
    }
    90% {
        transform: translate(242px, -734px);
    }
}

#b5 {
    animation: b5 82s -52s linear infinite;
}

@keyframes b5 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-1747px, -408px);
    }
    20% {
        transform: translate(-367px, -1055px);
    }
    30% {
        transform: translate(40px, -452px);
    }
    40% {
        transform: translate(-1115px, -1053px);
    }
    50% {
        transform: translate(-1483px, -187px);
    }
    60% {
        transform: translate(-1752px, -1047px);
    }
    70% {
        transform: translate(-267px, -426px);
    }
    80% {
        transform: translate(-1773px, -690px);
    }
    90% {
        transform: translate(-417px, -429px);
    }
}

#logo_big {
    display: block;
    position: absolute;
    left: 62px;
    top: 120px;
    z-index: 1000;
    transform-origin: top left;
    transition: all .3s linear;
}

#c1 {
    animation: c1 10s linear infinite;
}

@keyframes c1 {
    0% {
        transform: translate(315px, 462px) rotate(0deg) translate(-315px, -462px);
    }
    100% {
        transform: translate(315px, 462px) rotate(360deg) translate(-315px, -462px);
    }
}

#c2 {
    animation: c2 14s linear infinite;
}

@keyframes c2 {
    0% {
        transform: translate(882px, 362px) rotate(0deg) translate(-882px, -362px);
    }
    100% {
        transform: translate(882px, 362px) rotate(360deg) translate(-882px, -362px);
    }
}

#c3 {
    animation: c3 12s linear infinite;
}

@keyframes c3 {
    0% {
        transform: translate(1352px, 250px) rotate(0deg) translate(-1352px, -250px);
    }
    100% {
        transform: translate(1352px, 250px) rotate(360deg) translate(-1352px, -250px);
    }
}

#hero_content {
    position: absolute;
    left: 160px;
    top: 340px;
    max-width: 900px;
}

#hero_content h2 {
    font-size: 32px;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    margin-bottom: 32px;
}

#hero_content h3 {
    font-size: 26px;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    margin-bottom: 16px;
}

.button {
    font-size: 12px;
    font-family: 'Century Gothic Bold', sans-serif;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 42px;
    color: #fff;
    display: inline-block;
    height: 42px;
    padding: 0px 40px 0px 20px;
    margin-bottom: 24px;
    background: url(../imgs/arrow.svg) no-repeat 90% center #005ea5;
    border-radius: 24px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

.button:hover {
    background-color: #054A80;
}

#circles {
    position: absolute;
    top: 240px;
    right: 170px;
    width: 440px;
    height: 491px;
    transform-style: preserve-3d;
}

#circle_01, #circle_02, #circle_03, #circle_04 {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 491px;
    transform: perspective(1000px) rotateY(90deg);
}

#circle_01 {
    animation: circle 20s ease-in-out infinite;
}

#circle_02 {
    animation: circle 20s 5s ease-in-out infinite;
}

#circle_03 {
    animation: circle 20s 10s ease-in-out infinite;
}

#circle_04 {
    animation: circle 20s 15s ease-in-out infinite;
}

@keyframes circle {
    2.5%, 22.5% {
        transform: perspective(1000px) rotateY(0deg);
    }
    0%, 25%, 100% {
        transform: perspective(1000px) rotateY(90deg);
    }
}

#logos {
    position: absolute;
    left: 266px;
    right: 266px;
    top: 860px;
    text-align: center;
}

#logos img {
    max-height: 44px;
    margin: 21px;
}

#sales {
    overflow: hidden;
    padding: 90px 160px;
    background: url(../imgs/bubbles.svg) no-repeat left center, linear-gradient(#fff, #eceef2);
}

#sales_picture {
    width: 510px;
}

#sales .button {
    margin-right: 16px;
}

#sales h3, #roi h3 {
    margin-bottom: 24px;
}

#roi {
    overflow: hidden;
    padding: 90px 160px;
    background: linear-gradient(#fff, #eceef2);
}

#roi_picture {
    width: 443px;
}

#roi .clmn_40 {
    text-align: right;
}

#prizes, #products {
    display: inline-block;
    height: 100px;
    padding: 16px 0 0 120px;
}

#prizes {
    margin-right: 100px;
    background: url(../imgs/happy_winners.svg) no-repeat left center;
}

#products {
    background: url(../imgs/happy_shoppers.svg) no-repeat left center;
}

#get_started {
    background: #76BC43;
    padding: 80px 360px;
}

#get_started_wide {
    background: #76BC43;
    padding: 80px 62px;
}

#cta {
    text-align: center;
    background: #fff;
    border-radius: 16px;
    padding: 50px 100px 30px 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

#get_started_wide #cta {
    padding: 48px 24px;
    max-width: 1294px;
    margin: 0 auto;
}

#cta h2, #cta h3 {
    margin-bottom: 16px;
}

#bttn_start {
    font-size: 14px;
    font-family: 'Century Gothic Regular', sans-serif;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 42px;
    color: #fff;
    display: inline-block;
    height: 42px;
    padding: 0px 20px 0px 50px;
    background: url(../imgs/rocket.svg) no-repeat 20px center #76BC43;
    border-radius: 24px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

#bttn_start:hover {
    background-color: #005DA6;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    display: block;
}

.footer_link {
    display: block;
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
}

footer p {
    margin: 0;
    color: #fff;
}

#copy, #copy_mobile {
    font-size: 12px;
}

#copy_mobile {
    display: none;
    margin-top: 24px;
}

#footer_logo {
    display: block;
    margin-bottom: 80px;
}

#link_in {
    display: block;
    margin-top: 8px;
}

#mobile_menu {
    display: none;
    position: absolute;
    top: 22px;
    right: 22px;
}

.smile {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
}

.internal_content {
    overflow: hidden;
    padding: 90px 62px;
    background: linear-gradient(#fff, #eceef2);
}

.internal_content.top {
    padding: 130px 62px 90px 62px;
}

.white_box {
    background: #fff;
    max-width: 1198px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 56px 48px 24px 48px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

.white_box h2, .white_box h3 {
    text-align: center;
}

.white_box h3 {
    margin-bottom: 32px;
}

#game_types {
    background: url(../imgs/bubbles.svg) no-repeat left center;
    overflow: hidden;
    padding: 100px 62px 8px 62px;
}

.semi_white_box {
    max-width: 599px;
}

#game_img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.content_narrow {
    max-width: 1180px;
    margin: 0 auto;
    font-size: 18px;
}

.content_narrow li {
    display: block;
    padding: 8px 0px 8px 32px;
    background: url(../imgs/bullet.svg) left center no-repeat;
}

#about_top {
    padding: 170px 62px 62px 62px;
    background: #76BC43;
}

#about_top p, #about_top h2, #about_top h3 {
    color: #fff;
}

#about_img {
    width: 567px;
    position: absolute;
    right: 100px;
    top: 160px;
}

.contact_item {
    min-height: 50px;
    display: block;
    padding: 16px 0 0 64px;
    margin: 0 0 21px 0;
}

.icn_phone {
    background: url(../imgs/icn_phone.svg) left top no-repeat;
}

.icn_email {
    background: url(../imgs/icn_email.svg) left top no-repeat;
}

.icn_location {
    background: url(../imgs/icn_location.svg) left top no-repeat;
}

.space .content_narrow, .space .content_narrow h3 {
    margin-bottom: 32px;
}

@media (max-width: 1680px) {
    #circles {
        right: 62px;
    }

    #hero_content {
        left: 62px;
        max-width: 60%;
    }

    #logo_big {
        left: 32px;
    }

    #logos {
        left: 62px;
        right: 62px;
    }

    #sales, #roi {
        padding: 90px 62px;
    }

    #sales_picture {
        width: 480px;
    }

    #roi_picture {
        width: 413px;
    }

    #about_img {
        width: 480px;
        right: 42px;
    }

@media (max-width: 1370px) {
    #nav {
        top: 36px;
        right: 240px;
    }

    #nav a {
        font-size: 16px;
        margin-left: 20px;
    }

    #contact_us {
        font-size: 12px;
        width: 180px;
        right: 22px;
    }

    #logo {
        left: 22px;
    }

    #logo_big img {
        width: 220px;
    }

    #hero_content {
        top: 290px;
    }

    #hero_content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #hero_content h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #circles, #circle_01, #circle_02, #circle_03, #circle_04 {
        width: 340px;
        height: 380px;
    }

    #hero_wrapper {
        height: 740px;
    }

    #hero_wrapper svg {
        min-width: 1600px;
    }

    #logos {
        top: 740px;
    }

    .button {
        margin-bottom: 16px;
    }

    #logos img {
        max-height: 40px;
        margin: 8px 16px;
    }

    #sales_picture {
        width: 380px;
    }

    #roi_picture {
        width: 313px;
    }

    #prizes {
        margin-right: 60px;
        margin-bottom: 32px;
    }

    #get_started, footer {
        padding: 60px 90px;
    }

    .clmn_25 {
        width: 30%;
    }

    .clmn_15 {
        width: 20%;
    }

    #game_img {
        max-width: 400px;
        margin: 0;
    }

    #about_top .clmn_65 {
        width: 55%;
    }
}

@media (max-width: 1190px) {
    header {
        height: 62px;
    }

    #nav {
        top: 20px;
        right: 220px;
    }

    #nav a {
        font-size: 14px;
        margin-left: 16px;
    }

    #contact_us {
        top: 13px;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        width: 170px;
        background-position: 16px center;
    }

    #logo {
        top: 0px;
    }

    #hero {
        padding-top: 62px;
    }

    #hero_content h2 {
        font-size: 28px;
        margin-bottom: 18px;
        line-height: 1.3;
    }

    #hero_content {
        top: 260px;
    }

    #hero_content h3 {
        font-size: 21px;
        margin-bottom: 8px;
    }

    #logo_big {
        left: 22px;
    }

    #hero_content {
        left: 42px;
    }

    #circles {
        top: 190px;
        right: 42px;
    }

    #hero_wrapper svg {
        min-width: 1480px;
    }

    #logos {
        top: 630px;
        left: 22px;
        right: 22px;
    }

    #hero_wrapper {
        height: 680px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 21px;
    }

    p {
        color: #2D3748;
        font-size: 16px;
        line-height: 30px;
    }

    #sales_picture {
        width: 330px;
    }

    #roi_picture {
        width: 263px;
    }

    #sales, #roi {
        padding: 90px 42px;
    }

    #about_top {
        padding-top: 130px;
    }

    #about_img {
        top: 120px;
        right: 22px;
        width: 440px;
    }
}

@media (max-width: 1080px) {
    .menu_active header {
        z-index: 1001;
    }

    .menu_active #logo {
        opacity: 1;
        pointer-events: initial;
    }

    .menu_active #logo_big {
        opacity: 1;
        pointer-events: initial;
        transform: scale(.5);
    }

    #mobile_menu {
        display: block;
    }

    #m1, #m3 {
        transition: all .3s ease-in-out;
    }

    .menu_active #m2 {
        display: none;
    }

    .menu_active #m1 {
        transform: translate(8px, 7.5px) rotate(45deg) scale(1.2) translate(-8px, -1.3px);
    }

    .menu_active #m3 {
        transform: translate(8px, 7.5px) rotate(-45deg) scale(1.2) translate(-8px, -12.7px);
    }

    #menu_wrapper {
        background: #fff;
        position: absolute;
        left: 0;
        top: 62px;
        width: 100%;
        padding: 0px 22px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
        max-height: 0px;
        overflow: hidden;
        pointer-events: none;
        transition: all .4s ease-in-out;
    }

    .menu_active #menu_wrapper {
        padding: 26px 22px 40px 22px;
        max-height: 400px;
        pointer-events: initial;
    }

    #menu_wrapper:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0px 3px 6px inset rgba(0, 0, 0, .2);
    }

    #nav {
        position: static;
        margin-bottom: 12px;
    }

    #nav a {
        display: block;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        margin-left: 0px;
    }

    #contact_us {
        position: static;
        margin: 0 auto;
        font-size: 14px;
        line-height: 42px;
        width: 210px;
        height: 42px;
        padding: 0px 24px;
        background-position: 20px center;
    }

    #hero_content {
        width: 50%;
    }

    #hero_content h2 {
        font-size: 24px;
    }

    #hero_content h3 {
        font-size: 19px;
    }

    #footer_logo img {
        width: 180px;
    }

    #game_types {
        padding: 48px 0 8px 0;
    }

    .internal_content.top {
        padding: 100px 42px 42px 42px;
    }

    .internal_content {
        padding: 64px 42px;
    }

    .content_narrow {
        font-size: 16px;
    }

    #about_top {
        padding: 110px 42px 36px 42px;
    }

    #about_top .clmn_65 {
        width: 50%;
    }
}

@media (max-width: 940px) {
    #logo_big {
        top: 90px;
    }

    #hero_content h2 {
        font-size: 20px;
    }

    #hero_content h3 {
        font-size: 16px;
        line-height: 1.3;
    }

    #circles, #circle_01, #circle_02, #circle_03, #circle_04 {
        width: 254px;
        height: 284px;
    }

    #hero_content {
        top: 230px;
    }

    #hero_wrapper {
        height: 550px;
    }

    #hero_wrapper svg {
        min-width: 1200px;
    }

    #logos {
        top: 540px;
    }

    #logos img {
        max-height: 36px;
        margin: 6px 10px;
    }

    #sales_picture {
        width: 250px;
    }

    #roi_picture {
        width: 183px;
    }

    footer {
        padding: 36px;
    }

    #footer_logo img {
        width: 136px;
    }

    .footer_link {
        font-size: 16px;
    }

    footer {
        font-size: 14px;
    }

    #game_img {
        max-width: 300px;
        margin-bottom: 48px;
    }

    #about_img {
        width: 360px;
    }

    .internal_content.space {
        padding-bottom: 24px;
    }

    .internal_content.space .clmn_65 {
        width: 100%;
    }

    .internal_content.space .clmn_40 {
        width: 50%;
    }

    .internal_content.space .clmn_25 {
        width: 40%;
        margin-bottom: 16px;
    }
}

@media (max-width: 750px) {
    #hero_wrapper {
        height: 900px;
    }

    #logos {
        top: 840px;
    }

    #circles {
        top: 530px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    #hero {
        padding-top: 0;
    }

    #hero_content {
        max-width: initial;
        width: auto;
        top: 190px;
        right: 42px;
    }

    #hero_wrapper svg {
        min-width: 1400px;
    }

    #logo_big {
        top: 80px;
    }

    #logo_big img {
        width: 150px;
    }

    #logos img {
        max-height: 30px;
    }

    .row1, .row2, .row3, .row4, .row5 {
        opacity: 0;
        transform: scale(0);
    }

    #logos span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .row1 {
        animation: logos 10s linear infinite;
    }

    .row2 {
        animation: logos 10s 2s linear infinite;
    }

    .row3 {
        animation: logos 10s 4s linear infinite;
    }

    .row4 {
        animation: logos 10s 6s linear infinite;
    }

    .row5 {
        animation: logos 10s 8s linear infinite;
    }

    @keyframes logos {
        0%, 20%, 100% {
            opacity: 0;
            transform: scale(0);
        }
        5%, 15% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .clmn_40 {
        display: none;
    }

    .clmn_50, .clmn_60 {
        width: 100%;
    }

    #sales, #roi {
        padding: 48px 36px;
    }

     h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    #prizes {
        margin: 16px 0;
    }

    #get_started, #get_started_wide, .internal_content {
        padding: 60px 36px;
    }

    .internal_content.top {
        padding: 90px 36px 36px 36px;
    }

    #cta {
        padding: 32px 16px 24px 16px;
    }

    footer .clmn_25 {
        width: 100%;
    }

    footer .clmn_15 {
        width: 50%;
        margin-bottom: 32px;
    }

    #footer_logo {
        margin-bottom: 40px;
    }

    #copy {
        display: none;
    }

    #copy_mobile {
        display: block;
    }

    #link_in img {
        width: 24px;
    }

    .content_narrow {
        font-size: 15px;
    }

    .white_box {
        padding: 36px 36px 24px 36px;
    }

    #about_top .clmn_65 {
        width: 100%;
    }

    #about_img {
        width: 290px;
        position: static;
        margin-top: 24px;   
    }

    .internal_content.space .clmn_40 {
        display: block;
        width: 100%;
    }

    .internal_content.space .clmn_25 {
        width: 100%;
    }
}