* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background: url(../imgs/pump_bg.png) repeat-x center top;
    background-size: auto 800px;
}

header {
    display: block;
    height: 62px;
    background: #002F87;
    padding: 18px 24px 0 24px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .15em;
    margin-right: 18px;
}

a#mobile_menu {
    display: none;
    margin: 0;
}

header a:hover {
    opacity: .9;
}

header a svg {
    vertical-align: middle;
    margin-top: -4px;
}

a.header_bttn {
    display: block;
    float: right;
    color: #ffffff;
    height: 39px;
    line-height: 38px;
    margin: -7px 0 0 0;
}

a.header_bttn:hover path, a.header_bttn:hover circle {
    fill: #fdf150;
}

a.header_bttn_yellow {
    width: 150px;
    height: 39px;
    margin-top: -7px;
    display: block;
    float: right;
    background: url(../imgs/bttn_short.svg) no-repeat;
    background-size: cover;
    color: #000;
    text-align: center;
    line-height: 38px;
}

a.bttn_yellow {
    width: 150px;
    height: 39px;
    margin: 0 auto;
    display: block;
    background: url(../imgs/bttn_short.svg) no-repeat;
    background-size: cover;
    color: #000;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

a.bttn_yellow svg {
    vertical-align: middle;
    margin: -6px 2px 0 0;
}

footer {
  background: url(../imgs/footer_bg.png) #1e3d7d;
  padding: 32px;
  color: #fff;
}

footer a:hover {
    text-decoration: none;
}

#footer_logo {
  width: 183px;
  margin-bottom: 8px;
}

#social {
  padding-bottom: 8px;
}

#social a {
  margin: 0px 10px;
}

#footer_nav {
  font-weight: 700;
  font-size: 14px;
  padding: 8px 16px;
}

#footer_nav a {
  color: #fff;
  margin: 0 16px 0 0;
}

#policy {
  max-width: 990px;
  margin: 0 auto;
  font-size: 12px;
  padding: 8px 16px 16px 16px;
  color: #fff;
}

#policy a {
  font-weight: 700;
  color: #fff;
}

#policy p {
    margin: 0 0 8px 0;
    line-height: 1.6;
}

.note {
    font-size: 10px;
    font-style: italic;
}

.clmns {
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.clmn_20 {
    width: 20%;
    float: left;
}

.clmn_50 {
    width: 50%;
    float: left;
}

.clmn_60 {
    padding-right: 32px;
    width: 60%;
    float: left;
}

#pp_logo {
    width: 131px;
    display: block;
    margin: 0 auto;
}

.social {
    margin-right: 32px;
}

#social_bttns {
    padding: 0 0 16px 0;
}

#main {
    max-width: 375px;
    min-height: 600px;
    margin: 30px auto 0 auto;
    position: relative;
}

#light_01, #light_02, #light_03 {
    opacity: 0;
}

#light_01 {
    animation: light 1s linear infinite;
}

#light_02 {
    animation: light 1s .33s linear infinite;
}

#light_03 {
    animation: light 1s .66s linear infinite;
}

@keyframes light {
    0%, 33% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

#hand {
    animation: hand 2.4s ease-in-out infinite;
    opacity: 1;
}

@keyframes hand {
    0%, 40%, 100% {
        transform: translate(396px, 736px) scale(1) translate(-384px, -710px);
    }
    20% {
        transform: translate(384px, 720px) scale(.9) translate(-384px, -710px);
    }
}

#spin_bttn {
    animation: spin_bttn 2.4s ease-in-out infinite;
    opacity: 1;
}

@keyframes spin_bttn {
    0%, 40%, 100% {
        transform: translate(381px, 725px) scale(1) translate(-381px, -725px);
    }
    20% {
        transform: translate(381px, 725px) scale(1.15) translate(-381px, -725px);
    }
}

#hand.invis, #spin_bttn.invis {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s linear;
}

#pump {
    cursor: pointer;
}

#pump.clicked {
    cursor: default;
}

#handle_01.invis, #handle_02.invis {
    display: none;
}

#coins {
    opacity: 1;
    transition: opacity .3s .1s linear;
}

#coins.invis {
    opacity: 0;
    pointer-events: none;
}

.a23010_1 { animation: a23010 5.5s ease-in-out forwards }
.a23010_2 { animation: a23010 5.5s .3s ease-in-out forwards }
.a23010_3 { animation: a23010 5.5s .6s ease-in-out forwards }
@keyframes a23010 { 0% { transform: translateY(0px) } 100% { transform: translateY(6496px) }}

.a23014_1 { animation: a23014 5.5s ease-in-out forwards }
.a23014_2 { animation: a23014 5.5s .3s ease-in-out forwards }
.a23014_3 { animation: a23014 5.5s .6s ease-in-out forwards }
@keyframes a23014 { 0% { transform: translateY(0px) } 100% { transform: translateY(6608px) }}

.a23075_1 { animation: a23075 5.5s ease-in-out forwards }
.a23075_2 { animation: a23075 5.5s .3s ease-in-out forwards }
.a23075_3 { animation: a23075 5.5s .6s ease-in-out forwards }
@keyframes a23075 { 0% { transform: translateY(0px) } 100% { transform: translateY(6720px) }}

.a23039_1 { animation: a23039 5.5s ease-in-out forwards }
.a23039_2 { animation: a23039 5.5s .3s ease-in-out forwards }
.a23039_3 { animation: a23039 5.5s .6s ease-in-out forwards }
@keyframes a23039 { 0% { transform: translateY(0px) } 100% { transform: translateY(6832px) }}

.a23078_1 { animation: a23078 5.5s ease-in-out forwards }
.a23078_2 { animation: a23078 5.5s .3s ease-in-out forwards }
.a23078_3 { animation: a23078 5.5s .6s ease-in-out forwards }
@keyframes a23078 { 0% { transform: translateY(0px) } 100% { transform: translateY(6944px) }}

.a23054_1 { animation: a23054 5.5s ease-in-out forwards }
.a23054_2 { animation: a23054 5.5s .3s ease-in-out forwards }
.a23054_3 { animation: a23054 5.5s .6s ease-in-out forwards }
@keyframes a23054 { 0% { transform: translateY(0px) } 100% { transform: translateY(7056px) }}

.a23018_1 { animation: a23018 5.5s ease-in-out forwards }
.a23018_2 { animation: a23018 5.5s .3s ease-in-out forwards }
.a23018_3 { animation: a23018 5.5s .6s ease-in-out forwards }
@keyframes a23018 { 0% { transform: translateY(0px) } 100% { transform: translateY(7168px) }}

.a23016_1 { animation: a23016 5.5s ease-in-out forwards }
.a23016_2 { animation: a23016 5.5s .3s ease-in-out forwards }
.a23016_3 { animation: a23016 5.5s .6s ease-in-out forwards }
@keyframes a23016 { 0% { transform: translateY(0px) } 100% { transform: translateY(7280px) }}

.a23048_1 { animation: a23048 5.5s ease-in-out forwards }
.a23048_2 { animation: a23048 5.5s .3s ease-in-out forwards }
.a23048_3 { animation: a23048 5.5s .6s ease-in-out forwards }
@keyframes a23048 { 0% { transform: translateY(0px) } 100% { transform: translateY(7392px) }}

.a23033_1 { animation: a23033 5.5s ease-in-out forwards }
.a23033_2 { animation: a23033 5.5s .3s ease-in-out forwards }
.a23033_3 { animation: a23033 5.5s .6s ease-in-out forwards }
@keyframes a23033 { 0% { transform: translateY(0px) } 100% { transform: translateY(7504px) }}

.a23079_1 { animation: a23079 5.5s ease-in-out forwards }
.a23079_2 { animation: a23079 5.5s .3s ease-in-out forwards }
.a23079_3 { animation: a23079 5.5s .6s ease-in-out forwards }
@keyframes a23079 { 0% { transform: translateY(0px) } 100% { transform: translateY(7616px) }}

.a23017_1 { animation: a23017 5.5s ease-in-out forwards }
.a23017_2 { animation: a23017 5.5s .3s ease-in-out forwards }
.a23017_3 { animation: a23017 5.5s .6s ease-in-out forwards }
@keyframes a23017 { 0% { transform: translateY(0px) } 100% { transform: translateY(7728px) }}

.a23027_1 { animation: a23027 5.5s ease-in-out forwards }
.a23027_2 { animation: a23027 5.5s .3s ease-in-out forwards }
.a23027_3 { animation: a23027 5.5s .6s ease-in-out forwards }
@keyframes a23027 { 0% { transform: translateY(0px) } 100% { transform: translateY(7840px) }}

.a23031_1 { animation: a23031 5.5s ease-in-out forwards }
.a23031_2 { animation: a23031 5.5s .3s ease-in-out forwards }
.a23031_3 { animation: a23031 5.5s .6s ease-in-out forwards }
@keyframes a23031 { 0% { transform: translateY(0px) } 100% { transform: translateY(7952px) }}

.a23044_1 { animation: a23044 5.5s ease-in-out forwards }
.a23044_2 { animation: a23044 5.5s .3s ease-in-out forwards }
.a23044_3 { animation: a23044 5.5s .6s ease-in-out forwards }
@keyframes a23044 { 0% { transform: translateY(0px) } 100% { transform: translateY(8064px) }}

.a23035_1 { animation: a23035 5.5s ease-in-out forwards }
.a23035_2 { animation: a23035 5.5s .3s ease-in-out forwards }
.a23035_3 { animation: a23035 5.5s .6s ease-in-out forwards }
@keyframes a23035 { 0% { transform: translateY(0px) } 100% { transform: translateY(8176px) }}

.a23085_1 { animation: a23085 5.5s ease-in-out forwards }
.a23085_2 { animation: a23085 5.5s .3s ease-in-out forwards }
.a23085_3 { animation: a23085 5.5s .6s ease-in-out forwards }
@keyframes a23085 { 0% { transform: translateY(0px) } 100% { transform: translateY(8288px) }}

.a23043_1 { animation: a23043 5.5s ease-in-out forwards }
.a23043_2 { animation: a23043 5.5s .3s ease-in-out forwards }
.a23043_3 { animation: a23043 5.5s .6s ease-in-out forwards }
@keyframes a23043 { 0% { transform: translateY(0px) } 100% { transform: translateY(8400px) }}

.a23084_1 { animation: a23084 5.5s ease-in-out forwards }
.a23084_2 { animation: a23084 5.5s .3s ease-in-out forwards }
.a23084_3 { animation: a23084 5.5s .6s ease-in-out forwards }
@keyframes a23084 { 0% { transform: translateY(0px) } 100% { transform: translateY(8512px) }}

.a23022_1 { animation: a23022 5.5s ease-in-out forwards }
.a23022_2 { animation: a23022 5.5s .3s ease-in-out forwards }
.a23022_3 { animation: a23022 5.5s .6s ease-in-out forwards }
@keyframes a23022 { 0% { transform: translateY(0px) } 100% { transform: translateY(8624px) }}

.a23024_1 { animation: a23024 5.5s ease-in-out forwards }
.a23024_2 { animation: a23024 5.5s .3s ease-in-out forwards }
.a23024_3 { animation: a23024 5.5s .6s ease-in-out forwards }
@keyframes a23024 { 0% { transform: translateY(0px) } 100% { transform: translateY(8736px) }}

.a23055_1 { animation: a23055 5.5s ease-in-out forwards }
.a23055_2 { animation: a23055 5.5s .3s ease-in-out forwards }
.a23055_3 { animation: a23055 5.5s .6s ease-in-out forwards }
@keyframes a23055 { 0% { transform: translateY(0px) } 100% { transform: translateY(8848px) }}

.a23015_1 { animation: a23015 5.5s ease-in-out forwards }
.a23015_2 { animation: a23015 5.5s .3s ease-in-out forwards }
.a23015_3 { animation: a23015 5.5s .6s ease-in-out forwards }
@keyframes a23015 { 0% { transform: translateY(0px) } 100% { transform: translateY(8960px) }}

.a23046_1 { animation: a23046 5.5s ease-in-out forwards }
.a23046_2 { animation: a23046 5.5s .3s ease-in-out forwards }
.a23046_3 { animation: a23046 5.5s .6s ease-in-out forwards }
@keyframes a23046 { 0% { transform: translateY(0px) } 100% { transform: translateY(9072px) }}

.a23080_1 { animation: a23080 5.5s ease-in-out forwards }
.a23080_2 { animation: a23080 5.5s .3s ease-in-out forwards }
.a23080_3 { animation: a23080 5.5s .6s ease-in-out forwards }
@keyframes a23080 { 0% { transform: translateY(0px) } 100% { transform: translateY(9184px) }}

.a23011_1 { animation: a23011 5.5s ease-in-out forwards }
.a23011_2 { animation: a23011 5.5s .3s ease-in-out forwards }
.a23011_3 { animation: a23011 5.5s .6s ease-in-out forwards }
@keyframes a23011 { 0% { transform: translateY(0px) } 100% { transform: translateY(9296px) }}

.a23021_1 { animation: a23021 5.5s ease-in-out forwards }
.a23021_2 { animation: a23021 5.5s .3s ease-in-out forwards }
.a23021_3 { animation: a23021 5.5s .6s ease-in-out forwards }
@keyframes a23021 { 0% { transform: translateY(0px) } 100% { transform: translateY(9408px) }}

.a23040_1 { animation: a23040 5.5s ease-in-out forwards }
.a23040_2 { animation: a23040 5.5s .3s ease-in-out forwards }
.a23040_3 { animation: a23040 5.5s .6s ease-in-out forwards }
@keyframes a23040 { 0% { transform: translateY(0px) } 100% { transform: translateY(9520px) }}

.a23047_1 { animation: a23047 5.5s ease-in-out forwards }
.a23047_2 { animation: a23047 5.5s .3s ease-in-out forwards }
.a23047_3 { animation: a23047 5.5s .6s ease-in-out forwards }
@keyframes a23047 { 0% { transform: translateY(0px) } 100% { transform: translateY(9632px) }}

.a23032_1 { animation: a23032 5.5s ease-in-out forwards }
.a23032_2 { animation: a23032 5.5s .3s ease-in-out forwards }
.a23032_3 { animation: a23032 5.5s .6s ease-in-out forwards }
@keyframes a23032 { 0% { transform: translateY(0px) } 100% { transform: translateY(9744px) }}

.a23082_1 { animation: a23082 5.5s ease-in-out forwards }
.a23082_2 { animation: a23082 5.5s .3s ease-in-out forwards }
.a23082_3 { animation: a23082 5.5s .6s ease-in-out forwards }
@keyframes a23082 { 0% { transform: translateY(0px) } 100% { transform: translateY(9856px) }}

.a23036_1 { animation: a23036 5.5s ease-in-out forwards }
.a23036_2 { animation: a23036 5.5s .3s ease-in-out forwards }
.a23036_3 { animation: a23036 5.5s .6s ease-in-out forwards }
@keyframes a23036 { 0% { transform: translateY(0px) } 100% { transform: translateY(9968px) }}

.a23076_1 { animation: a23076 5.5s ease-in-out forwards }
.a23076_2 { animation: a23076 5.5s .3s ease-in-out forwards }
.a23076_3 { animation: a23076 5.5s .6s ease-in-out forwards }
@keyframes a23076 { 0% { transform: translateY(0px) } 100% { transform: translateY(10080px) }}

.a23019_1 { animation: a23019 5.5s ease-in-out forwards }
.a23019_2 { animation: a23019 5.5s .3s ease-in-out forwards }
.a23019_3 { animation: a23019 5.5s .6s ease-in-out forwards }
@keyframes a23019 { 0% { transform: translateY(0px) } 100% { transform: translateY(10192px) }}

.a23026_1 { animation: a23026 5.5s ease-in-out forwards }
.a23026_2 { animation: a23026 5.5s .3s ease-in-out forwards }
.a23026_3 { animation: a23026 5.5s .6s ease-in-out forwards }
@keyframes a23026 { 0% { transform: translateY(0px) } 100% { transform: translateY(10304px) }}

.a23013_1 { animation: a23013 5.5s ease-in-out forwards }
.a23013_2 { animation: a23013 5.5s .3s ease-in-out forwards }
.a23013_3 { animation: a23013 5.5s .6s ease-in-out forwards }
@keyframes a23013 { 0% { transform: translateY(0px) } 100% { transform: translateY(10416px) }}

.a23037_1 { animation: a23037 5.5s ease-in-out forwards }
.a23037_2 { animation: a23037 5.5s .3s ease-in-out forwards }
.a23037_3 { animation: a23037 5.5s .6s ease-in-out forwards }
@keyframes a23037 { 0% { transform: translateY(0px) } 100% { transform: translateY(10528px) }}

.a23077_1 { animation: a23077 5.5s ease-in-out forwards }
.a23077_2 { animation: a23077 5.5s .3s ease-in-out forwards }
.a23077_3 { animation: a23077 5.5s .6s ease-in-out forwards }
@keyframes a23077 { 0% { transform: translateY(0px) } 100% { transform: translateY(10640px) }}

.a23012_1 { animation: a23012 5.5s ease-in-out forwards }
.a23012_2 { animation: a23012 5.5s .3s ease-in-out forwards }
.a23012_3 { animation: a23012 5.5s .6s ease-in-out forwards }
@keyframes a23012 { 0% { transform: translateY(0px) } 100% { transform: translateY(10752px) }}

.a23086_1 { animation: a23086 5.5s ease-in-out forwards }
.a23086_2 { animation: a23086 5.5s .3s ease-in-out forwards }
.a23086_3 { animation: a23086 5.5s .6s ease-in-out forwards }
@keyframes a23086 { 0% { transform: translateY(0px) } 100% { transform: translateY(10864px) }}

.a23038_1 { animation: a23038 5.5s ease-in-out forwards }
.a23038_2 { animation: a23038 5.5s .3s ease-in-out forwards }
.a23038_3 { animation: a23038 5.5s .6s ease-in-out forwards }
@keyframes a23038 { 0% { transform: translateY(0px) } 100% { transform: translateY(10976px) }}

.a23042_1 { animation: a23042 5.5s ease-in-out forwards }
.a23042_2 { animation: a23042 5.5s .3s ease-in-out forwards }
.a23042_3 { animation: a23042 5.5s .6s ease-in-out forwards }
@keyframes a23042 { 0% { transform: translateY(0px) } 100% { transform: translateY(11088px) }}

.a23041_1 { animation: a23041 5.5s ease-in-out forwards }
.a23041_2 { animation: a23041 5.5s .3s ease-in-out forwards }
.a23041_3 { animation: a23041 5.5s .6s ease-in-out forwards }
@keyframes a23041 { 0% { transform: translateY(0px) } 100% { transform: translateY(11200px) }}

.a23049_1 { animation: a23049 5.5s ease-in-out forwards }
.a23049_2 { animation: a23049 5.5s .3s ease-in-out forwards }
.a23049_3 { animation: a23049 5.5s .6s ease-in-out forwards }
@keyframes a23049 { 0% { transform: translateY(0px) } 100% { transform: translateY(11312px) }}

.a23050_1 { animation: a23050 5.5s ease-in-out forwards }
.a23050_2 { animation: a23050 5.5s .3s ease-in-out forwards }
.a23050_3 { animation: a23050 5.5s .6s ease-in-out forwards }
@keyframes a23050 { 0% { transform: translateY(0px) } 100% { transform: translateY(11424px) }}

.a23030_1 { animation: a23030 5.5s ease-in-out forwards }
.a23030_2 { animation: a23030 5.5s .3s ease-in-out forwards }
.a23030_3 { animation: a23030 5.5s .6s ease-in-out forwards }
@keyframes a23030 { 0% { transform: translateY(0px) } 100% { transform: translateY(11536px) }}

.a23083_1 { animation: a23083 5.5s ease-in-out forwards }
.a23083_2 { animation: a23083 5.5s .3s ease-in-out forwards }
.a23083_3 { animation: a23083 5.5s .6s ease-in-out forwards }
@keyframes a23083 { 0% { transform: translateY(0px) } 100% { transform: translateY(11648px) }}

.a23029_1 { animation: a23029 5.5s ease-in-out forwards }
.a23029_2 { animation: a23029 5.5s .3s ease-in-out forwards }
.a23029_3 { animation: a23029 5.5s .6s ease-in-out forwards }
@keyframes a23029 { 0% { transform: translateY(0px) } 100% { transform: translateY(11760px) }}

.a23028_1 { animation: a23028 5.5s ease-in-out forwards }
.a23028_2 { animation: a23028 5.5s .3s ease-in-out forwards }
.a23028_3 { animation: a23028 5.5s .6s ease-in-out forwards }
@keyframes a23028 { 0% { transform: translateY(0px) } 100% { transform: translateY(11872px) }}

.a23023_1 { animation: a23023 5.5s ease-in-out forwards }
.a23023_2 { animation: a23023 5.5s .3s ease-in-out forwards }
.a23023_3 { animation: a23023 5.5s .6s ease-in-out forwards }
@keyframes a23023 { 0% { transform: translateY(0px) } 100% { transform: translateY(11984px) }}

.a23081_1 { animation: a23081 5.5s ease-in-out forwards }
.a23081_2 { animation: a23081 5.5s .3s ease-in-out forwards }
.a23081_3 { animation: a23081 5.5s .6s ease-in-out forwards }
@keyframes a23081 { 0% { transform: translateY(0px) } 100% { transform: translateY(12096px) }}

.a23025_1 { animation: a23025 5.5s ease-in-out forwards }
.a23025_2 { animation: a23025 5.5s .3s ease-in-out forwards }
.a23025_3 { animation: a23025 5.5s .6s ease-in-out forwards }
@keyframes a23025 { 0% { transform: translateY(0px) } 100% { transform: translateY(12208px) }}

.a23052_1 { animation: a23052 5.5s ease-in-out forwards }
.a23052_2 { animation: a23052 5.5s .3s ease-in-out forwards }
.a23052_3 { animation: a23052 5.5s .6s ease-in-out forwards }
@keyframes a23052 { 0% { transform: translateY(0px) } 100% { transform: translateY(12320px) }}

.a23045_1 { animation: a23045 5.5s ease-in-out forwards }
.a23045_2 { animation: a23045 5.5s .3s ease-in-out forwards }
.a23045_3 { animation: a23045 5.5s .6s ease-in-out forwards }
@keyframes a23045 { 0% { transform: translateY(0px) } 100% { transform: translateY(12432px) }}

.a23034_1 { animation: a23034 5.5s ease-in-out forwards }
.a23034_2 { animation: a23034 5.5s .3s ease-in-out forwards }
.a23034_3 { animation: a23034 5.5s .6s ease-in-out forwards }
@keyframes a23034 { 0% { transform: translateY(0px) } 100% { transform: translateY(12544px) }}

.a23020_1 { animation: a23020 5.5s ease-in-out forwards }
.a23020_2 { animation: a23020 5.5s .3s ease-in-out forwards }
.a23020_3 { animation: a23020 5.5s .6s ease-in-out forwards }
@keyframes a23020 { 0% { transform: translateY(0px) } 100% { transform: translateY(12656px) }}

.a23051_1 { animation: a23051 5.5s ease-in-out forwards }
.a23051_2 { animation: a23051 5.5s .3s ease-in-out forwards }
.a23051_3 { animation: a23051 5.5s .6s ease-in-out forwards }
@keyframes a23051 { 0% { transform: translateY(0px) } 100% { transform: translateY(12768px) }}

.a23053_1 { animation: a23053 5.5s ease-in-out forwards }
.a23053_2 { animation: a23053 5.5s .3s ease-in-out forwards }
.a23053_3 { animation: a23053 5.5s .6s ease-in-out forwards }
@keyframes a23053 { 0% { transform: translateY(0px) } 100% { transform: translateY(12880px) }}


#main_popup {
    opacity: 1;
    min-height: 630px;
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    background: #fff;
    transition: opacity .3s linear;
}

#main_popup.invis {
    pointer-events: none;
    opacity: 0;
}

#message_frame {
    opacity: 0;
    width: 375px;
    height: 452px;
    margin: 20px auto 16px auto;
    padding: 56px 64px;
    text-align: center;
    background: url(../imgs/message_frame.svg) no-repeat center top;
}

#message_frame h2 {
    margin: 0 0 8px 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #002F87;
}

#message_frame h3, .big_subtitle {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #002F87;
}

#message_frame h4 {
    margin: 0 0 8px 0;
    font-weight: normal;
    font-size: 22px;
}

#message_frame p {
    font-size: 12px;
    margin: 0;
}

#message_frame > img {
    height: 125px;
    margin: 0 0 8px 0;
}

#message_frame #note img {
    height: 44px;
    vertical-align: middle;
}

#message_frame a {
    color: #000;
}

#message_frame.anim {
    animation: message_frame 1s ease-in-out forwards;
}

@keyframes message_frame {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#message_options, #more_chances {
    display: none;
    opacity: 0;
}

#message_options h3 {
    margin: 0 0 16px 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #002F87;
    text-align: center;
}

#message_options.anim, #more_chances.anim {
    display: block;
    animation: message_options 1s .5s ease-in-out forwards;
}

@keyframes message_options {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#redeem_bttn {
    margin-top: 32px;
}

#redeem_bttn.invis {
    display: none;
}

#more_chances {
    text-align: center;
    max-width: 980px;
    padding: 0 16px;
    margin: 32px auto 0 auto;
}

#more_chances p {
    font-size: 15px;
}

#participating_product {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    opacity: 1;
    max-height: 800px;
    pointer-events: initial;
    transition: all .3s 1s ease-in-out;
}

#participating_product.invis {
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
}

#collage_placeholder {
    background: #FFF8EA;
    padding: 100px 32px;
    margin-bottom: 16px;
}

#more_chances h3, #participating_product h3 {
    margin: 0 0 16px 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: #002F87;
    text-align: center;
}

.full_list {
    display: block;
    font-size: 13px;
    color: #4B9CD5;
    margin-bottom: 32px;
}

#title sup {
    vertical-align: top;
    font-size: 21px;
    line-height: 1.5;
}

#more_items {
    display: block;
    width: 100%;
    max-width: 376px;
    margin: 0 auto;
}

.revards, .products {
    max-height: 175px;
}

#sponsor {
    margin-top: 48px;
    padding-top: 16px;
    border-top: dotted 1px #333;
}

#sponsor h4 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    background: #fff;
    display: inline-block;
    padding: 4px 20px;
    transform: translateY(-36px);
}

#sponsor .clmns {
    max-width: 450px;
    text-align: left;
}

#sponsor .clmns a {
    color: #047EB0;
    font-style: italic;
    display: inline-block;
    padding: 16px;
}

#sponsor_logos {
    width: 100%;
    margin-bottom: 32px;
}

@media screen and (max-width: 960px) {
    #desktop_nav {
        display: none;
    }
    a#mobile_menu {
        display: block;
        float: right;
    }
    #social a {
        margin: 0 4px;
    }
    #social img {
        width: 44px;
        height: 44px;
    }
}

@media screen and (max-width: 790px) {
    .clmns {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .clmns div:nth-child(1) {
        order: 1;
    }
    .clmns div:nth-child(3) {
        order: 2;
    }
    .clmns div:nth-child(2) {
        order: 3;
    }
    .clmn_20, .clmn_60 {
        float: none;
        width: 100%;
    }
    #pp_logo {
        width: 95px;
    }
    .social {
        margin: 4px 12px;
    }
    .social img {
        width: 28px;
        height: 28px;
    }
    #social_bttns {
        padding: 16px 0 32px 0;
    }
    .clmn_60 {
        text-align: left;
        padding-top: 32px;
        padding-right: 0;
    }
    .revards {
        max-height: 100px;
    }
    .products, #sponsor_logos {
        width: 90%;
    }
    #sponsor .clmns {
        text-align: center;
    }
    .clmn_50 {
        width: 100%;
    }
    #sponsor .clmns a {
        padding-top: 0;
    }
    #more_chances {
        margin: 0 auto;
    }
    #more_chances h3, #more_chances p {
        margin: 0;
    }
}