* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background: url(../imgs/header_bg.svg) no-repeat center top, url(../imgs/stars.png) #173a52;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    height: 72px;
    padding: 14px 24px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .15em;
    margin-right: 18px;
}

a#mobile_menu {
    display: inline-block;
    margin: 8px 0 0 0;
}

header a:hover {
    opacity: .9;
}

header a svg {
    vertical-align: middle;
    margin-top: -4px;
}

a.header_bttn {
    display: block;
    float: right;
    background-color: #fff;
    color: #173a52;
    padding: 8px 12px;
    margin: -4px 0px 0px 21px;
}

a.header_bttn:hover {
    background-color: #173a52;
    color: #fff;
}

a.header_bttn:hover path, a.header_bttn:hover circle {
    fill: #fff;
}

#desktop_nav {
    display: none;
}

footer {
    background-color: #fff;
    color: #000;
    padding: 44px 24px 32px 24px;
    text-align: center;
}

#main {
    position: relative;
}

#footer_socials a {
    margin: 0 4px;
}

#footer_links {
    padding-bottom: 20px;
}

#footer_links a {
    color: #000;
    font-size: 14px;
}

#footer_logo {
    width: 100px;
}

#footer_note {
    font-size: 10px;
    padding: 0 16px 16px 16px;
    max-width: 1192px;
    margin: 0 auto;
    text-align: left;
}

#footer_note a {
    color: #000;
}

#content {
    max-width: 302px;
    min-height: 470px;
    margin: 0 auto;
    color: #fff;
    line-height: 1.6;
    padding: 0 0 24px 0;
}

#logo {
    width: 220px;
    height: 90px;
}

h1 {
    margin: 8px 0;
    padding: 0;
    display: block;
    font-weight: 700;
    font-size: 32px;
}

#code {
    display: block;
    width: 100%;
    height: 56px;
    font-size: 25px;
    color: #326075;
    font-family: 'Roboto Slab', serif;
    padding: 8px 12px;
    margin: 0px 0px 16px 0px;
}

#bttn_submit {
    height: 48px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #033B55;
    border: none;
    border-radius: 4px;
    display: block;
    padding: 8px 32px;
    cursor: pointer;
    transition: all .1s;
}

#bttn_submit:hover {
    background: #CB2026;
    color: #fff;
}

#intro {
    position: relative;
}

#intro.invis {
    display: none;
}

#gift {
    transform: translate(151px, 318px) scale(.67) translate(-151px, -318px);
}

.play #gift {
    animation: gift 3s ease-in-out forwards;
}

@keyframes gift {
    0% {
        transform: translate(151px, 318px) scale(.67) translate(-151px, -318px);
    }
    20%, 85%, 100% {
        transform: translate(151px, 318px) scale(1) translate(-151px, -318px);
    }
    25%, 45%, 65% {
        transform: translate(140px, 310px) rotate(-5deg) scale(1) translate(-151px, -318px);
    }
    35%, 55%, 75% {
        transform: translate(160px, 310px) rotate(5deg) scale(1) translate(-151px, -318px);
    }
    0% {
        opacity: 0;
    }
    5%, 100% {
        opacity: 1;
    }
}

.play #cap1 {
    animation: cap1 .7s 2.6s ease-in-out forwards;
}

@keyframes cap1 {
    0% {
        opacity: 1;
        transform: translate(45px, 195px) rotate(0deg) translate(-45px, -195px);
    }
    20% {
        transform: translate(45px, 195px) rotate(-5deg) translate(-45px, -195px);
    }
    60% {
        opacity: 1;
        transform: translate(45px, 118px) rotate(0deg) translate(-45px, -195px);
    }
    61%, 100% {
        opacity: 0;
    }
    100% {
        transform: translate(45px, 125px) rotate(0deg) translate(-45px, -195px);
    }
}

.play #cap2 {
    animation: cap2 .7s 2.6s ease-in-out forwards;
}

@keyframes cap2 {
    0% {
        opacity: 0;
        transform: translate(45px, 195px) rotate(0deg) translate(-45px, -195px);
    }
    20% {
        transform: translate(45px, 195px) rotate(-5deg) translate(-45px, -195px);
    }
    60% {
        opacity: 0;
        transform: translate(45px, 118px) rotate(0deg) translate(-45px, -195px);
    }
    61%, 100% {
        opacity: 1;
    }
    100% {
        transform: translate(45px, 125px) rotate(0deg) translate(-45px, -195px);
    }
}

#sparks {
    opacity: 0;
}

.play #sparks {
    opacity: 0;
    animation: sparks .3s 3s ease-in-out forwards;
}

@keyframes sparks {
    0% {
        opacity: 0;
        transform: translate(151px, 160px) scale(.5) translate(-151px, -160px);
    }
    60% {
        opacity: 1;
        transform: translate(151px, 160px) scale(1.1) translate(-151px, -160px);
    }
    100% {
        opacity: 1;
        transform: translate(151px, 160px) scale(1) translate(-151px, -160px);
    }
}

#prize {
    transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
}

.play #prize {
    transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
    animation: prize .6s 3s ease-in-out forwards;
}

@keyframes prize {
    0% {
        transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
    }
    50% {
        transform: translate(151px, 80px) scale(1) translate(-151px, -287px);
    }
    100% {
        transform: translate(151px, 287px) scale(1) translate(-151px, -287px);
    }
}

#box1 {
    opacity: 1;
}

.play #box1 {
    animation: box .1s 3.2s linear forwards;
}

@keyframes box {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#gift_text {
    opacity: 0;
    transform: translate(0px, 50px);
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 30px;
    fill: #fff;
    animation: gift_text .3s 3.2s ease-in-out forwards;
}

@keyframes gift_text {
    0% {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    60% {
        opacity: 1;
        transform: translate(0px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#main_animation.invis {
    display: none;
}

@media screen and (min-width: 640px) {
    html, body {
        background: url(../imgs/stars.png) #173a52;
    }

    a#mobile_menu {
        display: none;
    }
    header {
        background: #CB2026;
        text-align: left;
        padding: 22px 32px 0px 32px;
    }
    #desktop_nav {
        display: block;
    }
    #footer_note {
        padding: 0 32px 16px 32px;
    }
    #content {
        padding-top: 16px;
        min-height: 490px;
    }
}

@media screen and (max-width: 920px) {
    header a {
        font-size: 12px;
        letter-spacing: initial;
        margin-right: 10px;
    }
    a.header_bttn {
        padding: 8px;
        margin-left: 8px;
        height: 34px;
    }
    header a svg {
        width: 16px;
    }
}