* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background: url(../imgs/header_bg.svg) no-repeat center top, url(../imgs/stars.png) #0c1821;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    height: 110px;
    padding: 14px 24px;
    text-align: left;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .15em;
    margin-right: 18px;
}

a#mobile_menu {
    display: inline-block;
    margin: 8px 0 0 0;
}

header a:hover {
    opacity: .9;
}

header a svg {
    vertical-align: middle;
    margin-top: -4px;
}

a.header_bttn {
    display: block;
    float: right;
    background-color: #fff;
    color: #173a52;
    padding: 8px 12px;
    margin: -4px 0px 0px 21px;
}

a.header_bttn:hover {
    background-color: #173a52;
    color: #fff;
}

a.header_bttn:hover path, a.header_bttn:hover circle {
    fill: #fff;
}

#desktop_nav {
    display: none;
}

footer {
    background-color: #fff;
    color: #000;
    padding: 44px 24px 32px 24px;
    text-align: center;
}

#main {
    position: relative;
}

#footer_socials a {
    margin: 0 8px;
}

#footer_socials a img {
    height: 30px;
}

#footer_stores {
    padding: 16px 0;
}

#footer_stores a {
    margin: 0 4px;
}

#footer_links {
    padding-bottom: 20px;
}

#footer_links a {
    color: #000;
    font-size: 14px;
}

#footer_logo {
    width: 100px;
}

#footer_note {
    font-size: 10px;
    padding: 0 16px 16px 16px;
    max-width: 1192px;
    margin: 0 auto;
    text-align: left;
}

#footer_note a {
    color: #000;
}

#content {
    max-width: 302px;
    min-height: 400px;
    margin: 0 auto;
    color: #fff;
    line-height: 1.6;
    padding: 0 0 24px 0;
}

#logo {
    width: 220px;
    height: 90px;
}

h1 {
    margin: 8px 0;
    padding: 0;
    display: block;
    font-weight: 700;
    font-size: 32px;
}

#code {
    display: block;
    width: 100%;
    height: 56px;
    font-size: 25px;
    color: #326075;
    font-family: 'Roboto Slab', serif;
    padding: 8px 12px;
    margin: 0px 0px 16px 0px;
}

#bttn_submit {
    height: 48px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #033B55;
    border: none;
    border-radius: 4px;
    display: block;
    padding: 8px 32px;
    cursor: pointer;
    transition: all .1s;
}

#bttn_submit:hover {
    background: #CB2026;
    color: #fff;
}

#intro {
    position: relative;
}

#intro.invis {
    display: none;
}

#gift {
    opacity: 0;
    transform: translate(151px, 318px) scale(.67) translate(-151px, -318px);
}

.play #gift {
    animation: gift 3s ease-in-out forwards;
}

@keyframes gift {
    0% {
        transform: translate(151px, 318px) scale(.67) translate(-151px, -318px);
    }
    20%, 85%, 100% {
        transform: translate(151px, 318px) scale(1) translate(-151px, -318px);
    }
    25%, 45%, 65% {
        transform: translate(140px, 310px) rotate(-5deg) scale(1) translate(-151px, -318px);
    }
    35%, 55%, 75% {
        transform: translate(160px, 310px) rotate(5deg) scale(1) translate(-151px, -318px);
    }
    0% {
        opacity: 0;
    }
    5%, 100% {
        opacity: 1;
    }
}

.play #cap1 {
    animation: cap1 .7s 2.6s ease-in-out forwards;
}

@keyframes cap1 {
    0% {
        opacity: 1;
        transform: translate(45px, 195px) rotate(0deg) translate(-45px, -195px);
    }
    20% {
        transform: translate(45px, 195px) rotate(-5deg) translate(-45px, -195px);
    }
    60% {
        opacity: 1;
        transform: translate(45px, 118px) rotate(0deg) translate(-45px, -195px);
    }
    61%, 100% {
        opacity: 0;
    }
    100% {
        transform: translate(45px, 125px) rotate(0deg) translate(-45px, -195px);
    }
}

.play #cap2 {
    animation: cap2 .7s 2.6s ease-in-out forwards;
}

@keyframes cap2 {
    0% {
        opacity: 0;
        transform: translate(45px, 195px) rotate(0deg) translate(-45px, -195px);
    }
    20% {
        transform: translate(45px, 195px) rotate(-5deg) translate(-45px, -195px);
    }
    60% {
        opacity: 0;
        transform: translate(45px, 118px) rotate(0deg) translate(-45px, -195px);
    }
    61%, 100% {
        opacity: 1;
    }
    100% {
        transform: translate(45px, 125px) rotate(0deg) translate(-45px, -195px);
    }
}

#sparks {
    opacity: 0;
}

.play #sparks {
    opacity: 0;
    animation: sparks .3s 3s ease-in-out forwards;
}

@keyframes sparks {
    0% {
        opacity: 0;
        transform: translate(151px, 160px) scale(.5) translate(-151px, -160px);
    }
    60% {
        opacity: 1;
        transform: translate(151px, 160px) scale(1.1) translate(-151px, -160px);
    }
    100% {
        opacity: 1;
        transform: translate(151px, 160px) scale(1) translate(-151px, -160px);
    }
}

#prize {
    transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
}

.play #prize {
    transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
    animation: prize .6s 3s ease-in-out forwards;
}

@keyframes prize {
    0% {
        transform: translate(151px, 287px) scale(.3) translate(-151px, -287px);
    }
    50% {
        transform: translate(151px, 80px) scale(1) translate(-151px, -287px);
    }
    100% {
        transform: translate(151px, 287px) scale(1) translate(-151px, -287px);
    }
}

#box1 {
    opacity: 1;
}

.play #box1 {
    animation: box .1s 3.2s linear forwards;
}

@keyframes box {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#gift_text {
    transform: translate(0px, 50px);
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 30px;
    fill: #fff;
}

#prize_text {
    opacity: 0;
    animation: prize_text .3s 3.2s ease-in-out forwards;
}

@keyframes prize_text {
    0% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate(0px, -60px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, -50px);
    }
}

.bonus #cap #bow {
    fill: #fbb040;
}

.bonus #cap #cap_body, .bonus #box #box_body {
    fill: #b34c26;
}

#pattern {
    display: none;
}

.bonus #pattern {
    display: block;
}

#info_entries {
    font-size: 18px;
    font-weight: 700;
}

#info_entries text {
    fill: #fff;
}

#info_giftcard {
    font-size: 26px;
    font-weight: 700;
}

#info_giftcard text {
    fill: #fff;
}

#main_animation {
    opacity: 1;
    transition: all .3s ease;
}

#main_animation.fadeout {
    opacity: 0;
}

#main_animation.invis {
    display: none;
}

#red_area {
    background: url(../imgs/footer_bg.svg) no-repeat center top;
    padding: 80px 32px 24px 32px;
    color: #fff;
    overflow: hidden;
    opacity: 1;
    max-height: 800px;
    transition: all .4s ease-in-out;
}

#red_area.invis {
    padding: 0px 32px 0px 32px;
    opacity: 0;
    max-height: 0px;
}

#red_wrapper {
    max-width: 302px;
    margin: 0 auto;
}

#red_wrapper h2 {
    text-align: center;
}

h1 {
    margin: 0 0 4px 0;
    font-size: 28px;
}

h2 {
    margin: 0 0 4px 0;
    font-size: 23px;
}

h3 {
    font-weight: normal;
    margin: 0 0 4px 0;
    font-size: 21px;
}

h4 {
    font-size: 18px;
    margin: 0 0 8px 0;
}

#result p {
    line-height: 1.2;
    margin: 0 0 24px 0;
    font-size: 19px;
}

#result p strong {
    font-size: 23px;
}

#bttn_code, #submit_entries {
    display: inline-block;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #CB2026;
    width: 100%;
    max-width: 360px;
    margin-bottom: 12px;
    text-decoration: none;
    border-radius: 2px;
    border: solid 3px #CB2026;
    padding: 10px 16px 8px 16px;
    white-space: nowrap;
    letter-spacing: .05em;
    transition: all .2s;
}

#bttn_code svg {
    vertical-align: middle;
    margin: -2px 4px 0 0;
}

#bttn_code:hover, #submit_entries:hover {
    background-color: rgba(255, 255, 255, .9);
}

#sweepstakes, #team_sweepstakes {
    list-style: none;
    margin: 0 0 32px 0;
    padding: 0;
}

#sweepstakes.invis, #team_sweepstakes.invis {
    display: none;
}

#sweepstakes li, #team_sweepstakes li {
    min-height: 60px;
    padding: 8px 0 0 72px;
    margin-block: 16px;
    background-position: left center;
    background-repeat: no-repeat;
}

#sweepstakes li:nth-child(1) {
    background-image: url(../imgs/icn_grocery.svg);
}

#sweepstakes li:nth-child(2) {
    background-image: url(../imgs/icn_fuel.svg);
}

#sweepstakes li:nth-child(3) {
    background-image: url(../imgs/icn_card.svg);
}

#sweepstakes li:nth-child(4) {
    background-image: url(../imgs/icn_habs.svg);
}

#team_sweepstakes li {
    text-align: left;
    background-image: url(../imgs/icn_coop.svg);
}

#chances {
    margin: 0;
}

#chances li {
    margin: 16px 0;
}

#chances li img {
    margin: -2px 4px 0 4px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#chances a {
    color: #fff;
}

#allow_sounds {
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#team_ttl.invis {
    display: none;
}

#assign, #congrats {
    opacity: 1;
    text-align: center;
    overflow: hidden;
    max-height: 400px;
    transition: max-height .4s ease-in-out;
}

#assign {
    margin-top: -36px;
    padding-bottom: 24px;
}

#assign.invis, #congrats.invis {
    margin: 0;
    padding: 0;
    opacity: 0;
    max-height: 0px;
}

.clmns {
    overflow: hidden;
    position: relative;
}

.clmn_33 {
    float: left;
    width: 33.3%;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.clmn_50 {
    float: left;
    width: 50%;
    padding: 0 8px;
}

.clmn_icn {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 8px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.field_number {
    width: 80%;
    height: 33px;
    border: solid 3px #fff;
    background-color: #CB2026;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    border-radius: 17px;
    margin-bottom: 16px;
}

.assigns_fileds {
    padding: 12px 0 24px 0;
}

.bttn_numbers {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 21px;
    line-height: 22px;
    font-weight: normal;
    border: solid 1px #fff;
}

.bttn_numbers:hover {
    background-color: #ddd;
}

.bttn_numbers:active {
    background-color: #CB2026;
    color: #fff;
}

#clear_entries {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
    display: block;
    text-align: left;
    width: 100px;
    margin-bottom: 16px;
}

#congrats {
    text-align: center;
}

.result_number {
    font-size: 21px;
}

.result_icons {
    padding: 16px 0;
}

#game_entries {
    font-size: 14px;
    color: #fff;
}

#game_entries:hover {
    text-decoration: none;
}

#game_entries svg {
    margin: 0 6px -3px 0;
}

@media screen and (min-width: 640px) {
    html, body {
        background: url(../imgs/stars.png) #0c1821;
    }

    a#mobile_menu {
        display: none;
    }
    header {
        background: #CB2026;
        text-align: left;
        height: 72px;
        padding: 22px 32px 0px 32px;
    }
    #desktop_nav {
        display: block;
    }
    #footer_note {
        padding: 0 32px 16px 32px;
    }
    #content {
        max-width: 500px;
        padding-top: 16px;
        min-height: 490px;
        text-align: center;
    }
    #red_wrapper {
        max-width: 604px;
    }
    #sweepstakes {
        display: block;
        overflow: hidden;
        text-align: left;
    }
    #sweepstakes li {
        float: left;
        width: 50%;
        padding-right: 16px;
    }
    h2, h4 {
        text-align: center;
    }
    #red_wrapper {
        text-align: center;
    }
    #chances {
        display: inline-block;
        margin: 0 auto;
        text-align: left;
    }
    #team_sweepstakes {
        display: block;
        max-width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 920px) {
    header a {
        font-size: 12px;
        letter-spacing: initial;
        margin-right: 10px;
    }
    a.header_bttn {
        padding: 8px;
        margin-left: 8px;
        height: 34px;
    }
    header a svg {
        width: 16px;
    }
}